// All options available for Cru branding
// v0.4.0

// Import Google fonts?
$cru-import-google-fonts: false !default;
$cru-import-google-fonts-sans-serif-only: false !default;
$cru-import-google-fonts-serif-only: false !default;

// Use AEM media queries?
$cru-aem-media-queries: false !default;
