// Branding imports
@import '../../branding-imports';

/* Title styles */
.cru-title .cmp-title__text {
  @include cru-heading;
  margin-bottom: 0;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.cru-title-xxl .cmp-title__text {
  @include cru-heading-xxl;
}

.cru-title-xl .cmp-title__text {
  @include cru-heading-xl;
}

.cru-title-lg .cmp-title__text {
  @include cru-heading-lg;
}

.cru-title-md .cmp-title__text {
  @include cru-heading-md;
}

.cru-title-sm .cmp-title__text {
  @include cru-heading-sm;
}

.cru-title-xs .cmp-title__text {
  @include cru-heading-xs;
}

.cru-title-xxs .cmp-title__text {
  @include cru-heading-xxs;
}

