// All color variables required for Cru branding
// v1.1.0

$cru-color-white:       #FFFFFF;
$cru-color-black:       #000000;

$cru-color-yellow:      #FFCF07;
$cru-color-blue:        #007BC6;
$cru-color-blue-light:  #00C7E2;
$cru-color-orange:      #FF9700;

$cru-color-gray-dark:   #383F43;
$cru-color-gray-medium: #9C9FA1;
$cru-color-gray-light:  #EBECEC;

$cru-text-colors: (
  'yellow':             $cru-color-yellow,
  'gray-dark':          $cru-color-gray-dark,
  'gray-medium':        $cru-color-gray-medium,
  'gray-light':         $cru-color-gray-light,
  'white':              $cru-color-white
);

$cru-body-color: $cru-color-gray-dark;


// Filter values created with https://codepen.io/sosuke/pen/Pjoqqp
$cru-color-white-filter:       brightness(0) invert(1);
$cru-color-black-filter:       brightness(0) saturate(100%);
$cru-color-gray-dark-filter:   $cru-color-black-filter invert(22%) sepia(5%) saturate(1102%) hue-rotate(158deg) brightness(94%) contrast(88%);
$cru-color-gray-medium-filter: $cru-color-black-filter invert(67%) sepia(8%) saturate(99%) hue-rotate(161deg) brightness(92%) contrast(93%);
$cru-color-gray-light-filter:  $cru-color-black-filter invert(100%) sepia(1%) saturate(1179%) hue-rotate(109deg) brightness(99%) contrast(87%);
