// All typography variables required for Cru branding
// v0.4.0

$cru-font-family-sans-serif:    "Source Sans Pro", sans-serif;
$cru-font-family-serif:         "Crimson Text", serif;

$cru-font-size-base:            1rem; // 16px
$cru-font-size-lg:              $cru-font-size-base * 1.125; // 18px
$cru-font-size-sm:              $cru-font-size-base * 0.875; // 14px

$cru-font-weight-normal:        400;
$cru-font-weight-semibold:      600;
$cru-font-weight-bold:          700;

$cru-font-weight-base:          $cru-font-weight-normal;

$cru-line-height-base:          calc(1em + 8px);

$cru-text-responsive-styles: (
  font-size: (
    1: $cru-font-size-base,
    2: $cru-font-size-base,
    3: $cru-font-size-lg,
  ),
);

$cru-headings-font-family:      $cru-font-family-sans-serif;
$cru-headings-font-style:       null;
$cru-headings-font-weight:      $cru-font-weight-bold;
$cru-headings-line-height:      $cru-line-height-base;
$cru-headings-color:            $cru-color-gray-dark;
$cru-headings-margin-top:       0;

$cru-heading-xxl-responsive-styles: (
  font-size: (
    1: $cru-font-size-base * 4,
    2: $cru-font-size-base * 4,
    3: $cru-font-size-base * 6,
  )
);

$cru-heading-xl-responsive-styles: (
  font-size: (
    1: $cru-font-size-base * 3,
    2: $cru-font-size-base * 3,
    3: $cru-font-size-base * 4,
  )
);

$cru-heading-lg-responsive-styles: (
  font-size: (
    1: $cru-font-size-base * 2,
    2: $cru-font-size-base * 2,
    3: $cru-font-size-base * 3,
  )
);

$cru-heading-md-responsive-styles: (
  font-size: (
    1: $cru-font-size-base * 1.5,
    2: $cru-font-size-base * 1.5,
    3: $cru-font-size-base * 2,
  )
);

$cru-heading-sm-responsive-styles: (
  font-size: (
    1: $cru-font-size-lg,
    2: $cru-font-size-lg,
    3: $cru-font-size-base * 1.5,
  )
);

$cru-headings-sm-line-height:   1.334;

$cru-headings-xs-font-size:     $cru-font-size-base * 1.25;
$cru-headings-xs-line-height:   1.2;

$cru-headings-xxs-font-size:    $cru-font-size-base * 0.875;
$cru-headings-xxs-line-height:  1.43;
