/* Teaser styles */
.cru-teaser-layered .cmp-teaser__title-link,
.cru-teaser-featured .cmp-teaser__title-link {
  color: #FFFFFF;
  text-decoration: none; }
  .cru-teaser-layered .cmp-teaser__title-link:hover,
  .cru-teaser-featured .cmp-teaser__title-link:hover {
    color: #FFFFFF; }

.cru-teaser-layered {
  position: relative; }
  .cru-teaser-layered img {
    display: block; }
  .cru-teaser-layered .cmp-teaser__image {
    position: relative; }
    .cru-teaser-layered .cmp-teaser__image::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 4px; }
    .cru-teaser-layered .cmp-teaser__image + .cmp-teaser__content {
      position: absolute;
      bottom: 48px;
      left: 32px;
      padding: 0; }
  .cru-teaser-layered .cmp-teaser__content {
    padding: 48px 32px;
    color: #FFFFFF; }
    .cru-teaser-layered .cmp-teaser__content > .cmp-teaser__title:first-child::before {
      display: block;
      content: '';
      width: 32px;
      height: 2px;
      background-color: #FFFFFF;
      margin-bottom: 8px; }
  .cru-teaser-layered .cmp-teaser__pretitle {
    font-size: 0.875rem;
    line-height: 1.43;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    color: #FFCF07;
    font-weight: 700; }
  .cru-teaser-layered .cmp-teaser__title {
    margin-top: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: #383F43;
    line-height: calc(1em + 8px);
    font-size: 4rem;
    color: #FFFFFF;
    margin: 0; }
    @media (max-width: 768px) {
      .cru-teaser-layered .cmp-teaser__title {
        font-size: 2rem; } }
    @media (min-width: 769px) and (max-width: 992px) {
      .cru-teaser-layered .cmp-teaser__title {
        font-size: 3rem; } }
    @media (min-width: 993px) and (max-width: 1200px) {
      .cru-teaser-layered .cmp-teaser__title {
        font-size: 3rem; } }
  .cru-teaser-layered .cmp-teaser__description {
    margin-top: 16px; }
    .cru-teaser-layered .cmp-teaser__description p {
      font-size: 1rem;
      line-height: calc(1em + 8px);
      margin: 0; }
  .cru-teaser-layered .cmp-teaser__action-container {
    margin-top: 32px; }
  .cru-teaser-layered .cmp-teaser__action-link {
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    text-transform: none;
    line-height: calc(1em + 4px);
    border-radius: 4px;
    font-size: 1rem;
    padding: 9px 23px;
    border-width: 1px;
    border-style: solid;
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFCF07; }
    .cru-teaser-layered .cmp-teaser__action-link:focus {
      outline: none; }
    @media (max-width: 768px) {
      .cru-teaser-layered .cmp-teaser__action-link {
        font-size: 0.875rem;
        padding: 6px 15px; } }
    @media (min-width: 769px) and (max-width: 992px) {
      .cru-teaser-layered .cmp-teaser__action-link {
        font-size: 1rem;
        padding: 9px 23px; } }
    @media (min-width: 993px) and (max-width: 1200px) {
      .cru-teaser-layered .cmp-teaser__action-link {
        font-size: 1rem;
        padding: 9px 23px; } }
    .cru-teaser-layered .cmp-teaser__action-link:nth-child(2) {
      margin-left: 16px; }
    .cru-teaser-layered .cmp-teaser__action-link:hover {
      color: #FFFFFF;
      background-color: #FFCF07;
      border-color: #FFCF07; }

.cru-teaser-layered .cmp-image__image,
.cmp-carousel .cmp-image__image {
  height: 480px;
  width: 100%;
  object-fit: cover; }

.cru-teaser-featured .cmp-teaser {
  position: relative; }
  .cru-teaser-featured .cmp-teaser__content {
    position: absolute;
    z-index: 20;
    bottom: 96px;
    left: 48px;
    padding-right: 24px; }
    @media (max-width: 768px) {
      .cru-teaser-featured .cmp-teaser__content {
        left: 1.5rem; } }
    @media (min-width: 769px) and (max-width: 1200px) {
      .cru-teaser-featured .cmp-teaser__content {
        left: 3.75rem; } }
  .cru-teaser-featured .cmp-teaser__title {
    font-size: 4rem;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    line-height: calc(1em + 8px); }
    .cru-teaser-featured .cmp-teaser__title::before {
      display: block;
      content: "";
      width: 32px;
      height: 2px;
      margin-bottom: 8px;
      background-color: #FFFFFF; }
    @media (max-width: 768px) {
      .cru-teaser-featured .cmp-teaser__title {
        font-size: 2rem; } }
    @media (min-width: 769px) and (max-width: 1200px) {
      .cru-teaser-featured .cmp-teaser__title {
        font-size: 3rem; } }
  .cru-teaser-featured .cmp-teaser__description {
    margin-top: 16px;
    color: #FFFFFF; }
    .cru-teaser-featured .cmp-teaser__description p {
      margin-top: 0;
      margin-bottom: 0; }
  .cru-teaser-featured .cmp-teaser__action-container {
    margin-top: 32px; }
  .cru-teaser-featured .cmp-teaser__action-link {
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    text-transform: none;
    line-height: calc(1em + 4px);
    border-radius: 4px;
    font-size: 1rem;
    padding: 9px 23px;
    border-width: 1px;
    border-style: solid;
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFFFFF; }
    .cru-teaser-featured .cmp-teaser__action-link:focus {
      outline: none; }
    @media (max-width: 768px) {
      .cru-teaser-featured .cmp-teaser__action-link {
        font-size: 0.875rem;
        padding: 6px 15px; } }
    @media (min-width: 769px) and (max-width: 992px) {
      .cru-teaser-featured .cmp-teaser__action-link {
        font-size: 1rem;
        padding: 9px 23px; } }
    @media (min-width: 993px) and (max-width: 1200px) {
      .cru-teaser-featured .cmp-teaser__action-link {
        font-size: 1rem;
        padding: 9px 23px; } }
    .cru-teaser-featured .cmp-teaser__action-link:hover {
      color: #383F43;
      background-color: #FFFFFF;
      border-color: #FFFFFF; }

.cru-teaser-featured .cmp-image {
  padding-bottom: 64px; }
  .cru-teaser-featured .cmp-image::before {
    display: block;
    content: '';
    width: 560px;
    height: 448px;
    background-color: #FFCF07;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 1;
    border-radius: 4px; }
    @media (max-width: 768px) {
      .cru-teaser-featured .cmp-image::before {
        width: 100%;
        border-radius: 0; } }
    @media (min-width: 769px) and (max-width: 1200px) {
      .cru-teaser-featured .cmp-image::before {
        width: 464px; } }
  .cru-teaser-featured .cmp-image::after {
    display: block;
    content: '';
    width: 448px;
    height: 448px;
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 22.5%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: 112px;
    z-index: 15;
    border-radius: 4px 0 0 4px; }
    @media (max-width: 768px) {
      .cru-teaser-featured .cmp-image::after {
        left: 0;
        width: 100%; } }
    @media (min-width: 769px) and (max-width: 1200px) {
      .cru-teaser-featured .cmp-image::after {
        left: 104px;
        width: 360px; } }

.cru-teaser-featured .cmp-image__image {
  width: calc(100% - 112px);
  height: 448px;
  object-fit: cover;
  margin-left: 112px;
  position: relative;
  z-index: 10; }
  @media (max-width: 768px) {
    .cru-teaser-featured .cmp-image__image {
      width: 100%;
      margin-left: 0;
      border-radius: 4px 4px 0 0; } }
  @media (min-width: 769px) and (max-width: 1200px) {
    .cru-teaser-featured .cmp-image__image {
      width: calc(100% - 104px);
      margin-left: 104px; } }

.cru-teaser-featured.cru-teaser-featured-gray-dark .cmp-teaser__title::before {
  background-color: #FFCF07; }

.cru-teaser-featured.cru-teaser-featured-gray-dark .cmp-teaser__action-link {
  color: #FFFFFF;
  background-color: transparent;
  border-color: #FFCF07; }
  .cru-teaser-featured.cru-teaser-featured-gray-dark .cmp-teaser__action-link:hover {
    color: #FFFFFF;
    background-color: #FFCF07;
    border-color: #FFCF07; }

.cru-teaser-featured.cru-teaser-featured-gray-dark .cmp-image::before {
  background-color: #383F43; }
