// Branding imports
@import '../../branding-imports';

/* Separator styles */

$cru-separator-colors: (
  'yellow': $cru-color-yellow,
  'gray-dark': $cru-color-gray-dark,
  'gray-medium': $cru-color-gray-medium,
  'gray-light': $cru-color-gray-light,
  'white': $cru-color-white
);

.separator {
  margin: ($cru-spacer * 3) 0;
  .cmp-separator__horizontal-rule {
    border-color: $cru-color-gray-medium;
    border-style: solid;
    border-width: 1px 0;
    margin: 0;
  }
  @each $label, $color in $cru-separator-colors {
    &.cru-separator-#{$label} {
      .cmp-separator__horizontal-rule {
        border-color: $color;
      }
    }
  }
}
