// All input mixins required for Cru branding
// v0.5.0

@use '../../scss/variables/spacers' as *;
@use '../variables/input' as *;
@use 'sass:string';

@mixin cru-placeholder-color($color, $important: false) {
  @if $important == false {
    &::placeholder { color: $color; }
    // &::-webkit-input-placeholder { color: $color; }
    // &::-moz-placeholder { color: $color; opacity: 1; }
    // &:-ms-input-placeholder { color: $color; }
    // &:-moz-placeholder { color: $color; }
  } @else {
    &::placeholder { color: $color !important; }
    // &::-webkit-input-placeholder { color: $color !important; }
    // &::-moz-placeholder { color: $color !important; opacity: 1; }
    // &:-ms-input-placeholder { color: $color !important; }
    // &:-moz-placeholder { color: $color !important; }
  }
}

@mixin form-field-vertical-spacing($type) {
  .cru-form {
    .#{$type} {
      + {
        .text, .options, .button {
          margin-top: $cru-input-spacing;
        }
      }
    }
  }
}

// LABELS

@mixin label-base {
  display: block;
  font-size: $cru-input-label-font-size;
  line-height: $cru-input-line-height;
  transition: opacity 0.15s ease-in-out;
  color: $cru-input-color;
}

@mixin label-standard {
  margin-bottom: $cru-input-label-spacing;
}

@mixin label-underlined {
  opacity: 0;
  margin-bottom: $cru-input-underlined-label-spacing;
}

@mixin label-underlined-focus {
  opacity: 1;
}

@mixin label-dark {
  color: $cru-input-dark-color;
}

@mixin label-disabled {
  color: $cru-input-disabled-color !important;
}

@mixin label-disabled-dark {
  color: $cru-input-dark-disabled-color !important;
}

@mixin label {
  @include label-base;
  @include label-standard;
}

// HELP TEXT

@mixin help {
  @include label-base;
  margin-top: $cru-spacer-base;
  margin-bottom: 0;
}

// TEXT & TEXTAREA

@mixin text-field {
  width: 100%;
  box-sizing: border-box;
  font-size: $cru-input-font-size;
  line-height: $cru-input-line-height;
  border-style: $cru-input-border-style;
  background-color: $cru-input-background-color;
  background-repeat: no-repeat;
  transition: box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  padding: $cru-input-padding-v $cru-input-padding-right $cru-input-padding-v $cru-input-padding-h;
  border-width: $cru-input-border-width;
  border-radius: $cru-input-border-radius;
  color: $cru-input-color;
  border-color: $cru-input-color;
  background-position: $cru-input-standard-icon-positions;
  @include cru-placeholder-color($cru-input-color);
  &:focus {
    outline: none;
    caret-color: $cru-input-focus-color;
    background-color: $cru-input-standard-focus-background;
    border-color: transparent;
    box-shadow: $cru-input-standard-focus-shadow;
    @include cru-placeholder-color(transparent, true);
  }
}

@mixin text-field-underlined {
  padding: $cru-input-underlined-padding-v $cru-input-underlined-padding-right $cru-input-underlined-padding-v 0;
  border-width: 0 0 $cru-input-border-width;
  border-radius: 0;
  background-position: $cru-input-underlined-icon-positions;
  &:focus {
    background-color: transparent;
    border-color: $cru-input-focus-color;
    box-shadow: none;
  }
}

@mixin text-field-dark {
  border-color: $cru-input-dark-color;
  @include cru-placeholder-color($cru-input-dark-color);
  &:not(:focus) {
    color: $cru-input-dark-color;
  }
}

@mixin text-field-underlined-dark {
  color: $cru-input-dark-color;
  &:not(:focus) {
    border-color: $cru-input-dark-underlined-color;
  }
}

// OPTIONS

@mixin fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin legend-reset {
  padding: 0;
}

@mixin select-reset {
  -webkit-appearance: none;
  appearance: none;
  overflow: auto;
  margin: 0;
}

@mixin dropdown {
  @include dropdown-icon($cru-input-color);
}

@mixin dropdown-dark {
  @include dropdown-icon($cru-input-dark-color);
}

@mixin dropdown-alert-dark {
  @include dropdown-icon($color: $cru-input-dark-color, $alert: true);
}

@mixin option-spacing { // No effect in Safari
  padding-top: 5px;
  padding-bottom: 5px;
}

// ALERTS

@mixin alert-border-color {
  border-color: $cru-input-alert-color !important;
}

@mixin alert-icon {
  background-image: $cru-input-icon-alert;
}

@mixin text-field-alert {
  @include alert-border-color;
  @include alert-icon;
}

@mixin dropdown-alert-icon {
  @include dropdown-icon($alert: true);
}

@mixin multi-dropdown-alert {
  @include alert-icon;
  background-position: $cru-input-multi-icon-positions !important;
}

// DISABLED

@mixin disabled-label($type, $selector, $dark: false) {
  #{if($dark, '.cru-form--dark', '')} .cru-form-#{$type}--disabled .cmp-form-#{$type} #{$selector} {
    @content;
  }
}

@mixin disabled-field($type, $selector, $dark: false, $selector2: false) {
  #{if($dark, '.cru-form--dark', '')} .cru-form-#{$type}--disabled .cmp-form-#{$type} #{$selector} #{if($selector2, $selector2, '')}, 
  #{if($dark, '.cru-form--dark', '')} .cmp-form-#{$type} #{$selector}[disabled] #{if($selector2, $selector2, '')} {
    @content;
  }
}

@mixin disabled {
  cursor: not-allowed;
  background-color: transparent !important;
  box-shadow: none !important;
  color: $cru-input-disabled-color !important;
  border-color: $cru-input-disabled-color !important;
  @include cru-placeholder-color($cru-input-disabled-color, true);
}

@mixin disabled-dropdown {
  @include disabled;
  @include dropdown-icon($cru-input-disabled-color);
}

@mixin disabled-dark {
  color: $cru-input-dark-disabled-color !important;
  border-color: $cru-input-dark-disabled-color !important;
  @include cru-placeholder-color($cru-input-dark-disabled-color, true);
}

@mixin disabled-dropdown-dark {
  @include disabled-dark;
  @include dropdown-icon($cru-input-dark-disabled-color);
}

// ICONS

@mixin dropdown-icon($color: $cru-input-color, $alert: false) {
  $dropdown-icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='#{$cru-input-icon-size-string}px' viewBox='0 0 #{$cru-input-icon-size-string} #{$cru-input-icon-size-string}' width='#{$cru-input-icon-size-string}px' fill='#{cru-input-color-string($color)}'%3E%3Cpath d='M24 24H0V0h24v24z' fill='none' opacity='.87'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/%3E%3C/svg%3E");

  @if $alert == false {
    background-image: $dropdown-icon;
  } @else {
    background-image: $cru-input-icon-alert, $dropdown-icon;
  }
}

// CHECKBOXES AND RADIOS

@mixin checkbox-radio-label-v {
  display: block;
}
@mixin checkbox-radio-label-spacing-v {
  margin-top: 12px;
}
@mixin checkbox-radio-label-h {
  display: inline-block;
}
@mixin checkbox-radio-label-spacing-h {
  margin-left: $cru-input-spacing;
}

@mixin checkbox-radio-hide-default {
  display: none;
}

@mixin checkbox-radio-text {
  display: inline-block;
  font-size: $check-radio-text-size;
  line-height: $check-radio-toggle-size;
  color: $cru-input-color;
}
@mixin checkbox-radio-text-dark {
  color: $cru-input-dark-color;
}

@mixin checkbox-radio-before {
  content: '';
  vertical-align: bottom;
  display: inline-block;
  width: $check-radio-toggle-size;
  height: $check-radio-toggle-size;
  background-color: transparent;
  border: $cru-input-color $cru-input-border-width solid;
  box-sizing: border-box;
  margin-right: 12px;
}
@mixin checkbox-radio-before-dark {
  border-color: $cru-input-dark-color;
}

@mixin checkbox-radio-active {
  background-repeat: no-repeat;
  background-position: center;
  border-color: $cru-input-focus-color;
}

@mixin checkbox-radio-alert {
  @include alert-icon;
  background-repeat: no-repeat;
  background-position: right $cru-input-spacing top 50%;
  padding-right: $check-radio-alert-padding;
}

@mixin checkbox-radio-disabled-text {
  color: $cru-input-disabled-color;
}
@mixin checkbox-radio-disabled-field {
  background-image: none;
  background-color: $cru-input-disabled-color;
  border-color: $cru-input-disabled-color;
}
@mixin checkbox-radio-disabled-text-dark {
  color: $cru-input-dark-disabled-color;
}
@mixin checkbox-radio-disabled-field-dark {
  background-color: $cru-input-dark-disabled-color;
  border-color: $cru-input-dark-disabled-color;
}

@mixin checkbox-border-radius {
  border-radius: 2px;
}
@mixin checkbox-active {
  background-color: $cru-input-focus-color;
  background-image: $cru-input-icon-check;
  background-size: cover;
}

@mixin radio-border-radius {
  border-radius: 50%;
}
@mixin radio-active {
  background-image: $cru-input-icon-circle;
  background-size: $radio-toggle-active-size;
}
@mixin radio-active-dark {
  border-color: $cru-input-dark-color;
}
