// All breakpoint variables required for Cru branding
// v0.3

$cru-breakpoints: (
  1: 0,
  2: 768px,
  3: 1200px,
) !default;

$cru-breakpoints-mapping: (
  1: 1,
  2: 2,
  3: 3,
) !default;

@function cru_index_map_data($map, $index_key: false) {
  $i: 1;
  $output: ();
  @each $key, $val in $map {
    $target-value: $val;
    @if $index_key {
      $target-value: $key;
    }
    $tmp-map: ($i: $target-value);
    $output: map-merge($output, $tmp-map);
    $i: $i + 1;
  }
  @return $output;
}

$cru-breakpoints-keys-indexed: cru_index_map_data($cru-breakpoints, true);
$cru-breakpoints-values-indexed: cru_index_map_data($cru-breakpoints);
$cru-breakpoints-mapping-indexed: cru_index_map_data($cru-breakpoints-mapping);

$cru-breakpoint-xs: map-get($cru-breakpoints-values-indexed, 1) !default;
$cru-breakpoint-md: map-get($cru-breakpoints-values-indexed, 2) !default;
$cru-breakpoint-xl: map-get($cru-breakpoints-values-indexed, 3) !default;
