// All typography mixins required for Cru branding
// v0.1

@mixin cru-text {
  font-family: $cru-font-family-sans-serif;
  font-weight: $cru-font-weight-base;
  line-height: $cru-line-height-base;
  color: $cru-body-color;
  @include cru-responsive-styles($cru-text-responsive-styles);
}

@mixin cru-text-sm {
  font-size: $cru-font-size-small;
}

@mixin cru-heading {
  margin-top: $cru-headings-margin-top;
  font-family: $cru-headings-font-family;
  font-style: $cru-headings-font-style;
  font-weight: $cru-headings-font-weight;
  color: $cru-body-color;
  line-height: $cru-headings-line-height;
}

@mixin cru-heading-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

@mixin cru-heading-xxl {
  @include cru-responsive-styles($cru-heading-xxl-responsive-styles);
}

@mixin cru-heading-xl {
  @include cru-responsive-styles($cru-heading-xl-responsive-styles);
}

@mixin cru-heading-lg {
  @include cru-responsive-styles($cru-heading-lg-responsive-styles);
}

@mixin cru-heading-md {
  @include cru-responsive-styles($cru-heading-md-responsive-styles);
}

@mixin cru-heading-sm {
  font-size: $cru-headings-sm-font-size;
}

@mixin cru-heading-xs {
  font-size: $cru-headings-xs-font-size;
  line-height: $cru-headings-xs-line-height;
  @include cru-heading-uppercase;
}

@mixin cru-heading-xxs {
  font-size: $cru-headings-xxs-font-size;
  line-height: $cru-headings-xxs-line-height;
  @include cru-heading-uppercase;
}
