// Branding imports
@use '../../branding-imports' as *;

/* List styles */
// Also applies to lists in text components

.cru-list .cmp-list__item,
.cru-text .cmp-text li {
  @include cru-text;
  padding-left: $cru-spacer-base * 1.5;
}

.cru-list .cmp-list__item-link,
.cru-text .cmp-text li a {
  color: inherit;
}

.cru-list-extra-spacing .cmp-list__item {
  margin-bottom: $cru-spacer;
}
