@use 'sass:math';

// Branding imports
@use '../../branding-imports' as *;

/* Accordion styles */

$cru-accordion-links-icon-size: 32px;
$cru-accordion-links-icon-border-width: 1px;
$cru-accordion-links-icon-size-adjusted: $cru-accordion-links-icon-size - ($cru-accordion-links-icon-border-width * 2);

.cru-accordion .cmp-accordion {
  &__item {
    border: 1px solid $cru-color-gray-light;
    border-width: 0 0 1px;
    &:first-child {
      border-top-width: 1px;
    }
  }
  &__header {
    margin: 0;
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: $cru-spacer-base;
    transform: translateY(-50%);
    font-size: 0;
    &::before {
      @include cru-material-icon($cru-font-size-lg);
      content: "expand_more";
    }
  }
  &__button {
    display: block;
    color: $cru-color-gray-dark;
    border: none;
    cursor: pointer;
    padding: 9px 0;
    background-color: transparent;
    text-align: left;
    width: 100%;
    position: relative;
    &--expanded {
      color: $cru-color-yellow;
      .cmp-accordion__icon::before {
        content: "expand_less";
      }
    }
  }
  &__title {
    font-family: $cru-font-family-sans-serif;
    font-size: $cru-font-size-sm;
    font-weight: $cru-font-weight-bold;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    line-height: calc(#{$cru-font-size-sm} + 6px);
    display: inline-block;
  }
  &__panel {
    padding: $cru-spacer-base 0 $cru-spacer;
    line-height: $cru-line-height-base;
    @include cru-responsive-styles($cru-text-responsive-styles);
    &--hidden {
      display: none;
    }
  }
}
.cru-accordion-dark .cmp-accordion {
  &__button,
  &__panel {
    color: $cru-color-white;
  }
  &__button {
    &--expanded {
      color: $cru-color-yellow;
    }
  }
}
.cru-accordion-links {
  .cmp-accordion {
    &__item {
      border: none;
    }
    &__icon {
      position: relative;
      top: unset;
      right: unset;
      transform: none;
      display: inline-block;
      width: $cru-accordion-links-icon-size-adjusted;
      height: $cru-accordion-links-icon-size-adjusted;
      border: $cru-color-yellow $cru-accordion-links-icon-border-width solid;
      border-radius: math.div($cru-accordion-links-icon-size, 2);
      margin-left: $cru-spacer-base;
      text-align: center;
    }
    &__button {
      color: $cru-color-gray-dark;
      span {
        vertical-align: middle;
      }
      &::before {
        display: block;
        content: "";
        width: 32px;
        height: 2px;
        background-color: $cru-color-yellow;
        position: absolute;
        top: 0;
        left: 0;
      }
      .cmp-accordion__icon::before {
        color: $cru-color-yellow;
        line-height: $cru-accordion-links-icon-size-adjusted;
      }
    }
    &__panel {
      padding-top: $cru-spacer;
    }
  }
  &.cru-accordion-dark .cmp-accordion {
    &__button {
      color: $cru-color-white;
    }
  }
}
