// Branding imports
@import '../../branding-imports';

/* Title styles */
.title {
  .cmp-title__text {
    @include cru-heading;
    margin-bottom: 0;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.cru-heading-xxl .cmp-title__text {
    @include cru-heading-xxl;
  }
  &.cru-heading-xl  .cmp-title__text{
    @include cru-heading-xl;
  }
  &.cru-heading-lg  .cmp-title__text{
    @include cru-heading-lg;
  }
  &.cru-heading-md  .cmp-title__text{
    @include cru-heading-md;
  }
  &.cru-heading-sm  .cmp-title__text{
    @include cru-heading-sm;
  }
  &.cru-heading-xs  .cmp-title__text{
    @include cru-heading-xs;
  }
  &.cru-heading-xxs .cmp-title__text {
    @include cru-heading-xxs;
  }
}

