/* Input styles */
.cmp-form .text + .text,
.cmp-form .text + .option,
.cmp-form .text + .button,
.cmp-form .option + .text,
.cmp-form .option + .option,
.cmp-form .option + .button,
.cmp-form .button + .text,
.cmp-form .button + .option,
.cmp-form .button + .button {
  margin-top: 16px; }

.cmp-form label {
  display: block;
  font-size: 0.875rem;
  line-height: calc(1em + 8px);
  margin-bottom: 8px;
  color: #383F43; }

.cmp-form input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: calc(1em + 8px);
  padding: 11px 16px;
  color: #383F43;
  border-color: #383F43;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background-color: transparent;
  transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out; }
  .cmp-form input[type="text"]::placeholder {
    color: #383F43; }
  .cmp-form input[type="text"]::-webkit-input-placeholder {
    color: #383F43; }
  .cmp-form input[type="text"]::-moz-placeholder {
    color: #383F43;
    opacity: 1; }
  .cmp-form input[type="text"]:-ms-input-placeholder {
    color: #383F43; }
  .cmp-form input[type="text"]:-moz-placeholder {
    color: #383F43; }
  .cmp-form input[type="text"]:focus {
    outline: none;
    caret-color: #FFCF07; }
    .cmp-form input[type="text"]:focus::placeholder {
      color: transparent !important; }
    .cmp-form input[type="text"]:focus::-webkit-input-placeholder {
      color: transparent !important; }
    .cmp-form input[type="text"]:focus::-moz-placeholder {
      color: transparent !important;
      opacity: 1; }
    .cmp-form input[type="text"]:focus:-ms-input-placeholder {
      color: transparent !important; }
    .cmp-form input[type="text"]:focus:-moz-placeholder {
      color: transparent !important; }

.cru-form-standard input[type="text"]:focus {
  background-color: #FFFFFF;
  border-color: transparent;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08); }

.cru-form-underline label {
  opacity: 0;
  margin-bottom: 0; }

.cru-form-underline input[type="text"] {
  padding: 6px 0;
  border-width: 0 0 1px;
  border-radius: 0; }
  .cru-form-underline input[type="text"]:focus {
    border-color: #FFCF07; }

.cru-form-underline .cru-form-text-alert label,
.cru-form-underline .cmp-form-text:focus-within label {
  opacity: 1; }

.cru-form-underline .cru-form-text-alert .cmp-form-text::before {
  bottom: 7px;
  left: 0; }

.cru-form-underline .cru-form-text-alert input[type="text"] {
  padding-left: 40px; }

.cru-form-text-alert {
  position: relative; }
  .cru-form-text-alert .cmp-form-text::before {
    font-family: "Material Icons Round";
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    content: 'warning_amber';
    position: absolute;
    bottom: 12px;
    left: 17px;
    color: #FFCF07; }
  .cru-form-text-alert input[type="text"] {
    border-color: #FFCF07;
    padding-left: 56px; }

.cru-form-text-disabled label {
  color: #EBECEC; }

.cru-form-text-disabled input[type="text"],
input[type="text"][disabled] {
  cursor: not-allowed;
  border-color: #EBECEC; }
  .cru-form-text-disabled input[type="text"]::placeholder,
  input[type="text"][disabled]::placeholder {
    color: #EBECEC; }
  .cru-form-text-disabled input[type="text"]::-webkit-input-placeholder,
  input[type="text"][disabled]::-webkit-input-placeholder {
    color: #EBECEC; }
  .cru-form-text-disabled input[type="text"]::-moz-placeholder,
  input[type="text"][disabled]::-moz-placeholder {
    color: #EBECEC;
    opacity: 1; }
  .cru-form-text-disabled input[type="text"]:-ms-input-placeholder,
  input[type="text"][disabled]:-ms-input-placeholder {
    color: #EBECEC; }
  .cru-form-text-disabled input[type="text"]:-moz-placeholder,
  input[type="text"][disabled]:-moz-placeholder {
    color: #EBECEC; }

.cru-form-dark label {
  color: #FFFFFF; }

.cru-form-dark input[type="text"] {
  color: #FFFFFF;
  border-color: #FFFFFF; }
  .cru-form-dark input[type="text"]::placeholder {
    color: #FFFFFF; }
  .cru-form-dark input[type="text"]::-webkit-input-placeholder {
    color: #FFFFFF; }
  .cru-form-dark input[type="text"]::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1; }
  .cru-form-dark input[type="text"]:-ms-input-placeholder {
    color: #FFFFFF; }
  .cru-form-dark input[type="text"]:-moz-placeholder {
    color: #FFFFFF; }
  .cru-form-dark input[type="text"]:focus {
    color: #383F43; }

.cru-form-dark .cru-form-text-alert input[type="text"] {
  border-color: #FFCF07; }
  .cru-form-dark .cru-form-text-alert input[type="text"]:focus {
    border-color: transparent; }

.cru-form-dark.cru-form-underline input[type="text"] {
  border-color: #9C9FA1; }
  .cru-form-dark.cru-form-underline input[type="text"]:focus {
    color: #FFFFFF; }

.cru-form-dark.cru-form-underline input[type="text"]:focus,
.cru-form-dark.cru-form-underline .cru-form-text-alert input[type="text"] {
  border-color: #FFCF07; }

.cru-form-dark .cru-form-text-disabled label {
  color: #9C9FA1; }

.cru-form-dark .cru-form-text-disabled input[type="text"],
.cru-form-dark input[type="text"][disabled] {
  border-color: #9C9FA1; }
  .cru-form-dark .cru-form-text-disabled input[type="text"]::placeholder,
  .cru-form-dark input[type="text"][disabled]::placeholder {
    color: #9C9FA1; }
  .cru-form-dark .cru-form-text-disabled input[type="text"]::-webkit-input-placeholder,
  .cru-form-dark input[type="text"][disabled]::-webkit-input-placeholder {
    color: #9C9FA1; }
  .cru-form-dark .cru-form-text-disabled input[type="text"]::-moz-placeholder,
  .cru-form-dark input[type="text"][disabled]::-moz-placeholder {
    color: #9C9FA1;
    opacity: 1; }
  .cru-form-dark .cru-form-text-disabled input[type="text"]:-ms-input-placeholder,
  .cru-form-dark input[type="text"][disabled]:-ms-input-placeholder {
    color: #9C9FA1; }
  .cru-form-dark .cru-form-text-disabled input[type="text"]:-moz-placeholder,
  .cru-form-dark input[type="text"][disabled]:-moz-placeholder {
    color: #9C9FA1; }
