// Branding imports
@import '../../branding-imports';

/* Input styles */

$cru-input-color:                       $cru-color-gray-dark;
$cru-input-border-width:                1px;
$cru-input-height:                      48px;
$cru-input-border-style:                solid;
$cru-input-border-color:                $cru-color-gray-dark;
$cru-input-padding:                     $cru-spacer-base;
$cru-input-border-radius:               ($cru-spacer-base / 2);
$cru-input-box-sizing:                  border-box;
$cru-input-width:                       100%;
$cru-input-placeholder-color:           $cru-color-gray-dark;
$cru-input-focus-outline:               none;
$cru-input-focus-border:                none;
$cru-input-focus-box-shadow:            0 $cru-spacer-base ($cru-spacer * 2) rgba(0, 0, 0, 0.08);
$cru-input-focus-caret-color:           $cru-color-yellow;
$cru-inpput-focus-placeholder-color:    transparent;
$cru-input-disabled-border-width:       1px;
$cru-input-disabled-border-style:       solid;
$cru-input-disabled-border-color:       $cru-color-gray-light;
$cru-input-disabled-color:              $cru-color-gray-light;
$cru-input-disabled-font-weight:        $cru-font-weight-normal;
$cru-input-invalid-border-color:        $cru-color-yellow;

@mixin cru-form-input {
    &__text {
        font-size: $cru-font-size-base;
        height: $cru-input-height;
        color: $cru-input-color;
        border-width: $cru-input-border-width;
        border-style: $cru-input-border-style;
        border-color: $cru-input-border-color;
        border-radius: $cru-input-border-radius;
        padding: $cru-input-padding;
        box-sizing: $cru-input-box-sizing;
        width: $cru-input-width;
        &::placeholder {
            color: $cru-input-placeholder-color;
        }
        &:focus {
            outline: none;
        }
    }
    &.cru-text-active {
        .cmp-form-text__text {
            outline: $cru-input-focus-outline;
            border: $cru-input-focus-border;
            box-shadow: $cru-input-focus-box-shadow;
            caret-color: $cru-input-focus-caret-color;
        }
    }
    &.cru-text-active {
        .cmp-form-text__text::placeholder {
            color: transparent;
        }   
    }
    &.cru-text-disabled {
        label {
            color: $cru-color-gray-light;
        }
        .cmp-form-text__text {
            border-width: $cru-input-disabled-border-width;
            border-style: $cru-input-disabled-border-style;
            border-color: $cru-input-disabled-border-color;
            color: $cru-input-disabled-color;
            font-weight: $cru-input-disabled-font-weight;
            &::placeholder {
                color: $cru-input-disabled-color;
            }
        }
    }
    &.cru-text-alert {
        .cmp-form-text__text {
            padding-right: 28px;
            text-overflow: ellipsis;
            border-color: $cru-input-invalid-border-color;
            background: url('svg/warning.svg') no-repeat;
            background-position: 98%;
        }
    }
}

@mixin cru-form-input-without-borders {
    &__text {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    &.cru-text-active {
        .cmp-form-text__text {
            box-shadow: none;
            border-bottom: $cru-input-border-width $cru-input-border-style $cru-color-yellow;
        }
    }
    &.cru-text-disabled {
        label {
            color: transparent;
        }
        .cmp-form-text__text {
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }
}

@mixin cru-form-input-dark {
    label, span {
        color: $cru-color-white;
    }
    &__text {
        background-color: $cru-color-gray-dark;
        border-color: $cru-color-white;
        color: $cru-color-white;
        &::placeholder {
            color: $cru-color-white;
        }
    }
    &.cru-text-active {
        .cmp-form-text__text {
            background-color: $cru-color-white;
            color: $cru-color-gray-dark;
        }
    }
    &.cru-text-active::placeholder {
        .cmp-form-text__text {
            color: transparent;
        }
    }
    &.cru-text-disabled {
        label {
            color: $cru-color-gray-medium;
        }
        .cmp-form-text__text, .cmp-form-text__text::placeholder {
            border-color: $cru-color-gray-medium;
            color: $cru-color-gray-medium;
        }
    }
}

@mixin cru-form-input-dark-without-borders {
    @include cru-form-input-without-borders;
    @include cru-form-input-dark;
    &__text{
        &:focus::placeholder {
            color: transparent;
        }
    }
    &.cru-text-active {
        .cmp-form-text__text {
            background-color: $cru-color-gray-dark;
            color: $cru-color-white;
        }
    }
}

/* .text {
    @include cru-text;
    margin: $cru-spacer-base;
    width: 352px;
    position: relative;
    .cmp-form-text {
        label, span {
            @include cru-text-sm;
            display: block;
        }
        @include cru-form-input;
    }
    &.cru-form-text-without-borders .cmp-form-text {
        @include cru-form-input-without-borders;
    }
    &.cru-form-text-dark .cmp-form-text {
        @include cru-form-input-dark;
    }
    &.cru-form-text-dark-without-borders .cmp-form-text {
        @include cru-form-input-dark-without-borders;
    }
} */

$jp-cru-form-input-border-width: 1px;
$jp-cru-form-input-padding-h: $cru-spacer;
$jp-cru-form-input-alert-icon-size: 24px;
$jp-cru-form-input-alert-padding-left: $cru-spacer + $jp-cru-form-input-alert-icon-size + $cru-spacer;
$jp-cru-form-input-alert-icon-left: $jp-cru-form-input-border-width + $cru-spacer;

.cmp-form {
    .text,
    .option,
    .button {
        + .text,
        + .option,
        + .button {
            margin-top: $cru-spacer;
        }
    }
    .cmp-form-text {
        label {
            display: block;
            margin-bottom: $cru-spacer-base;
            color: $cru-color-gray-dark;
            font-size: $cru-font-size-sm;
            line-height: $cru-line-height-base;
        }
        &__text {
            width: 100%;
            // box-sizing: border-box;
            color: $cru-color-gray-dark;
            font-size: $cru-font-size-base;
            line-height: $cru-line-height-base;
            padding: ($cru-spacer * 0.75 - 1) $cru-spacer;
            background-color: $cru-color-white;
            border: $cru-color-gray-dark $jp-cru-form-input-border-width solid;
            border-radius: $cru-btn-border-radius;
            transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
            @include cru-placeholder-color($cru-color-gray-dark);
            &:focus {
                outline: none;
                border-color: transparent;
                box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
                caret-color: $cru-color-yellow;
                @include cru-placeholder-color(transparent);
            }
        }
    }
    .cru-form-text-disabled label {
        color: $cru-color-gray-light;
    }
    .cru-form-text-disabled .cmp-form-text__text,
    .cmp-form-text__text[disabled] {
        cursor: not-allowed;
        border-color: $cru-color-gray-light;
        @include cru-placeholder-color($cru-color-gray-light);
        &:focus {
            border-color: transparent;
            @include cru-placeholder-color(transparent);
        }
    }
    .cru-form-text-alert {
        position: relative;
        .cmp-form-text {
            &::before {
                @include cru-material-icon($jp-cru-form-input-alert-icon-size, 'Material Icons Round');
                content: 'warning_amber';
                position: absolute;
                bottom: $jp-cru-form-input-alert-icon-size / 2;
                left: $jp-cru-form-input-alert-icon-left;
                color: $cru-color-yellow;;
            }
            &__text {
                border-color: $cru-color-yellow;
                padding-left: $jp-cru-form-input-alert-padding-left;
            }
        }
    }
}

.cru-form-dark {
    .cmp-form-text {
        label {
            color: $cru-color-white;
        }
        &__text {
            border-color: $cru-color-white;
            background-color: transparent;
            @include cru-placeholder-color($cru-color-white);
            &:focus {
                background-color: $cru-color-white;
            }
        }
    }
    .cru-form-text-disabled label {
        color: $cru-color-gray-medium;
    }
    .cru-form-text-disabled .cmp-form-text__text,
    .cmp-form-text__text[disabled] {
        border-color: $cru-color-gray-medium;
        @include cru-placeholder-color($cru-color-gray-medium);
    }
}

.cru-form-underline {
    .cmp-form-text {
        label {
            visibility: hidden;
            margin-bottom: 0;
        }
        &:focus-within label {
            visibility: visible;
        }
        &__text {
            border-width: 0 0 1px;
            border-radius: 0;
            padding: 6px 0;
            background-color: transparent;
            &:focus {
                box-shadow: none;
                border-color: $cru-color-yellow;
            }
        }
    }
    .cru-form-text-disabled .cmp-form-text__text,
    .cmp-form-text__text[disabled] {
        &:focus {
            border-color: $cru-color-yellow;
        }
    }
    .cru-form-text-alert .cmp-form-text {
        &::before {
            bottom: 7px;
            left: 0;
        }
        &__text {
            padding-left: $jp-cru-form-input-alert-padding-left - $cru-spacer;
        }
    }
}

.cru-form-dark.cru-form-underline .cmp-form-text__text:focus {
    background-color: transparent;
}
