// Branding imports
@import "../../branding-imports";

/* Input styles */

.cmp-form {
  .text,
  .option,
  .button {
    + .text,
    + .option,
    + .button {
      margin-top: $cru-input-spacing;
    }
  }
  &-text {
    label {
      @include cru-input-label;
    }
    input,
    textarea {
      @include cru-input-text;
    }
  }
}

.cru-form-underline {
  .cmp-form-text {
    label {
      @include cru-input-label-underlined;
    }
    input,
    textarea {
      @include cru-input-text-underlined;
    }
  }
  .cru-form-text-alert .cmp-form-text,
  .cmp-form-text:focus-within {
    label {
      @include cru-input-label-underlined-focus;
    }
  }
  .cru-form-text-alert .cmp-form-text {
    input,
    textarea {
      @include cru-input-text-underlined-alert;
    }
  }
}

.cru-form-text-alert .cmp-form-text {
  input,
  textarea {
    @include cru-input-text-alert;
  }
}

.cru-form-text-disabled .cmp-form-text label {
  @include cru-input-text-disabled-label;
}

.cru-form-text-disabled .cmp-form-text input,
.cru-form-text-disabled .cmp-form-text textarea,
.cmp-form-text input[disabled],
.cmp-form-text textarea[disabled] {
  @include cru-input-text-disabled-input;
}

.cru-form-dark {
  label {
    color: $cru-input-dark-label-color;
  }
  input[type="text"] {
    color: $cru-input-dark-label-color;
    border-color: $cru-input-dark-label-color;
    @include cru-placeholder-color($cru-input-dark-label-color);
    &:focus {
      color: $cru-input-dark-label-focus-color;
    }
  }
  .cru-form-text-alert input[type="text"] {
    border-color: $cru-input-alert-color;
    &:focus {
      border-color: transparent;
    }
  }
  &.cru-form-underline input[type="text"] {
    border-color: $cru-input-dark-underline-color;
    &:focus {
      color: $cru-input-dark-underline-focus-color;
    }
  }
  &.cru-form-underline {
    input[type="text"]:focus,
    .cru-form-text-alert input[type="text"] {
      border-color: $cru-input-alert-color;
    }
  }
  .cru-form-text-disabled label {
    color: $cru-input-dark-disabled-color;
  }
  .cru-form-text-disabled input[type="text"],
  input[type="text"][disabled] {
    border-color: $cru-input-dark-disabled-color;
    @include cru-placeholder-color($cru-input-dark-disabled-color);
  }
}
