/* Input styles */
.text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: calc(1em + 8px);
  color: #383F43;
  font-size: 1.125rem;
  margin: 8px;
  width: 352px;
  position: relative; }
  @media (max-width: 768px) {
    .text {
      font-size: 1rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .text {
      font-size: 1rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .text {
      font-size: 1rem; } }
  .text .cmp-form-text label, .text .cmp-form-text span {
    font-size: 0.875rem;
    display: block; }
  .text .cmp-form-text__text {
    font-size: 1rem;
    height: 48px;
    color: #383F43;
    border-width: 1px;
    border-style: solid;
    border-color: #383F43;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%; }
    .text .cmp-form-text__text::placeholder {
      color: #383F43; }
    .text .cmp-form-text__text:focus {
      outline: none; }
  .text .cmp-form-text.cru-text-active .cmp-form-text__text {
    outline: none;
    border: none;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
    caret-color: #FFCF07; }
  .text .cmp-form-text.cru-text-active .cmp-form-text__text::placeholder {
    color: transparent; }
  .text .cmp-form-text.cru-text-disabled label {
    color: #EBECEC; }
  .text .cmp-form-text.cru-text-disabled .cmp-form-text__text {
    border-width: 1px;
    border-style: solid;
    border-color: #EBECEC;
    color: #EBECEC;
    font-weight: 400; }
    .text .cmp-form-text.cru-text-disabled .cmp-form-text__text::placeholder {
      color: #EBECEC; }
  .text .cmp-form-text.cru-text-alert .cmp-form-text__text {
    border-color: #FFCF07;
    background: url("svg/warning.svg") no-repeat;
    background-position: 98%; }
  .text.cru-form-text-without-borders .cmp-form-text__text {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0; }
  .text.cru-form-text-without-borders .cmp-form-text.cru-text-active .cmp-form-text__text {
    box-shadow: none;
    border-bottom: 1px solid #FFCF07; }
  .text.cru-form-text-without-borders .cmp-form-text.cru-text-disabled label {
    color: transparent; }
  .text.cru-form-text-without-borders .cmp-form-text.cru-text-disabled .cmp-form-text__text {
    border-top: none;
    border-left: none;
    border-right: none; }
  .text.cru-form-text-dark .cmp-form-text label, .text.cru-form-text-dark .cmp-form-text span {
    color: #FFFFFF; }
  .text.cru-form-text-dark .cmp-form-text__text {
    background-color: #383F43;
    border-color: #FFFFFF;
    color: #FFFFFF; }
    .text.cru-form-text-dark .cmp-form-text__text::placeholder {
      color: #FFFFFF; }
  .text.cru-form-text-dark .cmp-form-text.cru-text-active .cmp-form-text__text {
    background-color: #FFFFFF;
    color: #383F43; }
  .text.cru-form-text-dark .cmp-form-text.cru-text-active::placeholder .cmp-form-text__text {
    color: transparent; }
  .text.cru-form-text-dark .cmp-form-text.cru-text-disabled label {
    color: #9C9FA1; }
  .text.cru-form-text-dark .cmp-form-text.cru-text-disabled .cmp-form-text__text, .text.cru-form-text-dark .cmp-form-text.cru-text-disabled .cmp-form-text__text::placeholder {
    border-color: #9C9FA1;
    color: #9C9FA1; }
  .text.cru-form-text-dark-without-borders .cmp-form-text__text {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0; }
  .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-active .cmp-form-text__text {
    box-shadow: none;
    border-bottom: 1px solid #FFCF07; }
  .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-disabled label {
    color: transparent; }
  .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-disabled .cmp-form-text__text {
    border-top: none;
    border-left: none;
    border-right: none; }
  .text.cru-form-text-dark-without-borders .cmp-form-text label, .text.cru-form-text-dark-without-borders .cmp-form-text span {
    color: #FFFFFF; }
  .text.cru-form-text-dark-without-borders .cmp-form-text__text {
    background-color: #383F43;
    border-color: #FFFFFF;
    color: #FFFFFF; }
    .text.cru-form-text-dark-without-borders .cmp-form-text__text::placeholder {
      color: #FFFFFF; }
  .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-active .cmp-form-text__text {
    background-color: #FFFFFF;
    color: #383F43; }
  .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-active::placeholder .cmp-form-text__text {
    color: transparent; }
  .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-disabled label {
    color: #9C9FA1; }
  .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-disabled .cmp-form-text__text, .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-disabled .cmp-form-text__text::placeholder {
    border-color: #9C9FA1;
    color: #9C9FA1; }
  .text.cru-form-text-dark-without-borders .cmp-form-text__text:focus::placeholder {
    color: transparent; }
  .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-active .cmp-form-text__text {
    background-color: #383F43;
    color: #FFFFFF; }
