/* Accordion styles */
.accordion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5% 3%; }
  @media (min-width: 769px) {
    .accordion {
      flex-direction: row;
      padding: 5% 10%; }
      .accordion .cmp-accordion__button {
        padding-left: 0; } }
  .accordion .cmp-accordion {
    width: 100%; }
    .accordion .cmp-accordion__header {
      margin: 0; }
    .accordion .cmp-accordion__icon svg {
      position: absolute;
      right: 8px;
      top: 18px; }
    .accordion .cmp-accordion__button {
      display: inline-block;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      line-height: calc(1em + 4px);
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      cursor: pointer;
      letter-spacing: 0.02em;
      color: #383F43;
      background-color: #FFCF07;
      border-color: #FFCF07;
      font-size: 1rem;
      padding: 9px 23px;
      background-color: transparent;
      border-right: transparent;
      border-left: transparent;
      border-color: #EBECEC;
      text-align: left;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: -1px;
      position: relative; }
      @media (max-width: 768px) {
        .accordion .cmp-accordion__button {
          font-size: 0.875rem;
          padding: 6px 15px; } }
      @media (min-width: 769px) and (max-width: 992px) {
        .accordion .cmp-accordion__button {
          font-size: 1rem;
          padding: 9px 23px; } }
      @media (min-width: 993px) and (max-width: 1200px) {
        .accordion .cmp-accordion__button {
          font-size: 1rem;
          padding: 9px 23px; } }
      .accordion .cmp-accordion__button:hover {
        color: #FFFFFF;
        background-color: #FFCF07;
        border-color: #FFCF07; }
      .accordion .cmp-accordion__button:active, .accordion .cmp-accordion__button:focus {
        outline: none; }
      .accordion .cmp-accordion__button.disabled, .accordion .cmp-accordion__button[disabled] {
        cursor: not-allowed;
        color: #9C9FA1;
        background-color: #EBECEC;
        border-color: #EBECEC; }
      .accordion .cmp-accordion__button:hover {
        background-color: transparent;
        border-color: #EBECEC; }
      .accordion .cmp-accordion__button--expanded {
        color: #FFCF07;
        font-weight: 700; }
        .accordion .cmp-accordion__button--expanded .cmp-accordion__icon svg path {
          d: path("M1 4.76367L4.764 1.08394C4.82651 1.02285 4.91128 0.988526 4.99967 0.988526C5.08806 0.988526 5.17282 1.02285 5.23533 1.08394L9 4.76367");
          stroke: #FFCF07; }
    .accordion .cmp-accordion__panel--hidden {
      display: none; }
  .accordion.cru-accordion-black .cmp-accordion__icon svg path {
    stroke: #FFFFFF; }
  .accordion.cru-accordion-black .cmp-accordion__button {
    color: #FFFFFF; }
    .accordion.cru-accordion-black .cmp-accordion__button--expanded {
      color: #FFCF07;
      font-weight: 700; }
      .accordion.cru-accordion-black .cmp-accordion__button--expanded .cmp-accordion__icon svg path {
        stroke: #FFCF07; }
  .accordion.cru-accordion-black .cmp-accordion__panel {
    color: #FFFFFF; }
  .accordion.cru-accordion-white .cmp-accordion__button {
    color: #383F43; }
    .accordion.cru-accordion-white .cmp-accordion__button--expanded {
      color: #FFCF07;
      font-weight: 700; }
  .accordion.cru-accordion-links .cmp-accordion {
    width: 100%; }
    .accordion.cru-accordion-links .cmp-accordion__icon svg {
      position: relative;
      top: 10px;
      left: 2px; }
      .accordion.cru-accordion-links .cmp-accordion__icon svg path {
        stroke: #FFCF07; }
    .accordion.cru-accordion-links .cmp-accordion__button {
      background-image: linear-gradient(#FFCF07, #FFCF07);
      background-repeat: no-repeat;
      background-size: 5% 4px;
      background-position: top left, 4px 0;
      border: none;
      margin: 8px;
      line-height: 2rem;
      color: #383F43;
      font-weight: 700; }
      .accordion.cru-accordion-links .cmp-accordion__button--expanded .cmp-accordion__icon svg path {
        d: path("M12 17L15.764 13.1011C15.8265 13.0364 15.9113 13 15.9997 13C16.0881 13 16.1728 13.0364 16.2353 13.1011L20 17"); }
    .accordion.cru-accordion-links .cmp-accordion__panel {
      display: flex;
      flex-wrap: wrap;
      padding-left: 8px; }
      .accordion.cru-accordion-links .cmp-accordion__panel--hidden {
        display: none; }
  .accordion.cru-accordion-links .cru-accordion-column {
    width: 100%; }
    @media (min-width: 769px) {
      .accordion.cru-accordion-links .cru-accordion-column {
        width: 25%; } }
  .accordion.cru-accordion-links.cru-accordion-black .cmp-accordion__button {
    color: #FFFFFF; }
