// Branding imports
@import '../../branding-imports';

/* Accordion styles */

@mixin cru-accordion {
    &__button { 
        display: inline-block;
        font-family: $cru-font-family-sans-serif;
        font-weight: $cru-font-weight-bold;
        text-transform: uppercase;
        line-height: calc($cru-font-size-sm + 6px);
        border: 1px solid $cru-color-gray-light;
        border-left: transparent;
        border-right: transparent;
        cursor: pointer;
        letter-spacing: 0.02em;
        color: $cru-color-gray-dark;
        font-size: $cru-font-size-sm;
        padding: 9px 0;
        background-color: transparent;
        text-align: left;
        width: 100%;
        margin-bottom: -1px;
        position: relative;
        &:hover {
            background-color: transparent;
            border-color: $cru-color-gray-light;
        }
        &--expanded {
            color: $cru-color-yellow;
            .cmp-accordion__icon::before {
                content: 'expand_less';
            }
        }
    }
    &__panel { 
        padding: $cru-spacer 0;
        font-size: $cru-font-size-lg;
        line-height: calc($cru-font-size-lg + 8px);
        &--hidden { 
            display: none;
        }
    }
}

@mixin cru-accordion-dark {
    &__icon {
        svg path {
            stroke: $cru-color-white;
        }
    }
    &__button {
        color: $cru-color-white;
        &--expanded {
            color: $cru-color-yellow;
            font-weight: $cru-font-weight-bold;
            .cmp-accordion__icon svg path {
                stroke: $cru-color-yellow;
            }
        }
    }
    &__panel {
        color: $cru-color-white;
    }
}

@mixin cru-accordion-links {
    &__icon::before {
        position: relative;
        top: 10px;
        left: 2px;
    }
    &__button {
        background-image: linear-gradient($cru-color-yellow, $cru-color-yellow);
        background-repeat: no-repeat;
        background-size: 5% $cru-spacer-base / 2;
        background-position: top left, 4px 0;
        border: none;
        margin: $cru-spacer-base;
        line-height: 2rem;
        color: $cru-color-gray-dark;
        font-weight: $cru-font-weight-bold;
        .cmp-accordion__icon::before {
            border: $cru-btn-border-width $cru-btn-border-style $cru-color-yellow;
            color: $cru-color-yellow;
            border-radius: 50%;
            margin-left: $cru-spacer-base;
            right: auto;
            font-size: 2rem;
        }
    }
    &__panel { 
        display: flex;
        flex-wrap: wrap;
        padding-left: $cru-spacer-base;
        &--hidden {
            display: none;
        }
    }
}

.accordion {
    @include cru-media-breakpoint-up($cru-breakpoint-md) {
        flex-direction: row;
        padding: 5% 10%;
        .cmp-accordion {
            &__button {
                padding-left: 0;
            }
        }
    }
    .cmp-accordion {
        width: 100%;
        &__header { margin: 0 }
        &__icon::before {
            content: 'expand_more';
            position: absolute;
            top: .625rem;
            right: .5rem;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: $cru-font-size-lg;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: 'liga';        
        }
        @include cru-accordion;
    }
    &.cru-accordion-dark  .cmp-accordion {
        @include cru-accordion-dark;
    }
    &.cru-accordion-links {
        .cmp-accordion {
            @include cru-accordion-links;
        }
        &.cru-accordion-dark .cmp-accordion {
            &__button {
                color: $cru-color-white;
            }
        }
    }
}
