// Branding imports
@import '../../branding-imports';

/* Tabs styles */

.tabs {
    .cmp-tabs {
        @include cru-text;
        font-size: $cru-font-size-base;
        &__tablist {
            display: flex;
            margin-top: 0;
            border-bottom: 2px $cru-btn-border-style $cru-color-gray-light;
            color: $cru-color-gray-medium;
        }
        &__tab {
            list-style: none;
            padding: ($cru-spacer-base * 1.5) ($cru-spacer-base * 3);
            line-height: ($cru-spacer-base * 3);
            white-space: nowrap;
            &--active {
                border-bottom: 2px $cru-btn-border-style $cru-color-yellow;
                margin-bottom: -2px;
                color: $cru-color-gray-dark;
            }
        }
        &__tabpanel {
            display: none;
            &--active {
                display: block;
            }
        }
    }
    &.cru-tablist-icon .cmp-tabs {
        li::before {
            content: "\2022"; 
            color: $cru-color-gray-medium;
            display: inline-block; 
            font-size: $cru-font-size-base * 3.5;
            vertical-align: text-bottom;
            height: 100%;
            margin-right: $cru-spacer-base;
        }
        li.cmp-tabs__tab--active::before  {
            color: $cru-color-yellow;
        }
    }
}
