body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}

.cru-button-standard:nth-child(4n + 5),
.cru-button-tag:nth-child(4n + 5),
.cru-button-combo:nth-child(2n + 3),
.cru-button-dot:nth-child(2n + 3) {
  clear: both;
}
