/* Button styles */
.button {
  /*
  sts = Standard
  stti = Text/icon
  std = Dot
  stt = Tag

  sld = Solid
  out = Outline
  */ }
  .button a.cmp-button {
    text-decoration: none; }
  .button[class~="cru-btn-text-yellow"] .cmp-button {
    color: #FFCF07; }
  .button[class~="cru-btn-text-gray"] .cmp-button {
    color: #383F43; }
  .button[class~="cru-btn-text-white"] .cmp-button {
    color: #FFFFFF; }
  .button[class~="cru-btn-background-yellow"] .cmp-button {
    background-color: #FFCF07; }
  .button[class~="cru-btn-background-gray"] .cmp-button {
    background-color: #383F43; }
  .button[class~="cru-btn-background-white"] .cmp-button {
    background-color: #FFFFFF; }
  .button[class~="cru-btn-border-yellow"] .cmp-button {
    border-color: #FFCF07; }
  .button[class~="cru-btn-border-gray"] .cmp-button {
    border-color: #383F43; }
  .button[class~="cru-btn-border-white"] .cmp-button {
    border-color: #FFFFFF; }
