// Branding imports
@import '../../branding-imports';

/* Searchbar styles */

@mixin cru-searchbar {
    .fieldIcons {
        &__root {
            .field__input {
                border: $cru-btn-border-width $cru-btn-border-style $cru-color-gray-light;
                border-radius: ($cru-spacer-base * 3);
                width: 352px;
                font-size: 16px;
                height: 48px;
                box-sizing: border-box;
                &:focus {
                    outline: none;
                    border: none;
                    box-shadow: 0 $cru-spacer-base ($cru-spacer * 2) rgba(0, 0, 0, 0.08);
                    caret-color: $cru-color-yellow;
                }
            }
            .icon__root svg {
                position: relative;
                width: 32px;
                height: 32px;
                top: 10px;
                right: 44px;
                circle, line {
                    stroke: $cru-color-gray-dark;
                }
            }
        }
    }
}

@mixin cru-searchbar-active {
    .fieldIcons {
        &__root {
            .icon__root svg {
                background-color: $cru-color-yellow;
                border-radius: 50%;
                circle, line {
                    stroke: $cru-color-white;
                }
            }
        }
    }
}

@mixin cru-searchbar-dark {
    .fieldIcons {
        &__root {
            .field__input {
                background-color: $cru-color-gray-dark;
                color: $cru-color-white;
                &:focus, &:focus::placeholder {
                    background-color: $cru-color-white;
                    color: $cru-color-gray-dark;
                }
            }
            .field__input::placeholder {
                color: $cru-color-white;
            }
            .icon__root svg {
                circle, line {
                    stroke: $cru-color-white;
                }
            }
        }
    }
}

.searchbar {
    .searchBar__root {
        @include cru-searchbar;
    }
    .searchBar__root:focus-within {
        @include cru-searchbar-active;
    }
    &.cru-searchbar-dark .searchBar__root {
        @include cru-searchbar-dark;
    }
}
