/* Searchbar styles */
.searchbar .searchBar__root .fieldIcons__root .field__input {
  border: 1px solid #EBECEC;
  border-radius: 24px;
  width: 352px;
  font-size: 16px;
  height: 48px;
  box-sizing: border-box; }
  .searchbar .searchBar__root .fieldIcons__root .field__input:focus {
    outline: none;
    border: none;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
    caret-color: #FFCF07; }

.searchbar .searchBar__root .fieldIcons__root .icon__root svg {
  position: relative;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 44px; }
  .searchbar .searchBar__root .fieldIcons__root .icon__root svg circle, .searchbar .searchBar__root .fieldIcons__root .icon__root svg line {
    stroke: #383F43; }

.searchbar .searchBar__root:focus-within .fieldIcons__root .icon__root svg {
  background-color: #FFCF07;
  border-radius: 50%; }
  .searchbar .searchBar__root:focus-within .fieldIcons__root .icon__root svg circle, .searchbar .searchBar__root:focus-within .fieldIcons__root .icon__root svg line {
    stroke: #FFFFFF; }

.searchbar.cru-searchbar-dark .searchBar__root .fieldIcons__root .field__input {
  background-color: #383F43;
  color: #FFFFFF; }
  .searchbar.cru-searchbar-dark .searchBar__root .fieldIcons__root .field__input:focus, .searchbar.cru-searchbar-dark .searchBar__root .fieldIcons__root .field__input:focus::placeholder {
    background-color: #FFFFFF;
    color: #383F43; }

.searchbar.cru-searchbar-dark .searchBar__root .fieldIcons__root .field__input::placeholder {
  color: #FFFFFF; }

.searchbar.cru-searchbar-dark .searchBar__root .fieldIcons__root .icon__root svg circle, .searchbar.cru-searchbar-dark .searchBar__root .fieldIcons__root .icon__root svg line {
  stroke: #FFFFFF; }
