.button .cmp-button .cmp-button__icon {
  &::before {
    display: inline-block;
    margin-right: .375rem;
    vertical-align: top;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: .9375rem;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }
  &--email::before {
    content: "email";
  }
  &--cancel::before {
    content: "cancel";
  }
  &--arrow_forward::before {
    content: "arrow_forward";
  }
  &--shopping_cart::before {
    content: "shopping_cart";
    font-family: 'Material Icons Outlined';
  }
}
