/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
/* Accordion styles */
/* Breadcrumb styles */
.cmp-breadcrumb__list {
  margin: 0;
  padding: 0; }

.cmp-breadcrumb__item {
  margin: 0 0 0 10px;
  padding: 0 0 0 18px;
  list-style-type: none;
  display: inline-block;
  position: relative; }
  .cmp-breadcrumb__item::before {
    display: inline-block;
    content: '>';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #383F43; }
  .cmp-breadcrumb__item:first-of-type {
    margin-left: 0;
    padding-left: 0; }
    .cmp-breadcrumb__item:first-of-type::before {
      display: none; }
  @media (max-width: 768px) {
    .cmp-breadcrumb__item:not(.cmp-breadcrumb__item--active) {
      display: none; }
    .cmp-breadcrumb__item.cmp-breadcrumb__item--active {
      margin-left: 0; }
      .cmp-breadcrumb__item.cmp-breadcrumb__item--active::before {
        content: '<'; } }

.cmp-breadcrumb__item-link,
.cmp-breadcrumb span {
  color: #383F43; }

.cmp-breadcrumb__item-link {
  text-decoration: none; }
  .cmp-breadcrumb__item-link:hover {
    text-decoration: underline; }

.cmp-breadcrumb span {
  font-size: 0.875rem;
  line-height: calc(1em + 8px); }

.cru-breadcrumb-yellow .cmp-breadcrumb .cmp-breadcrumb__item::before,
.cru-breadcrumb-yellow .cmp-breadcrumb .cmp-breadcrumb__item-link,
.cru-breadcrumb-yellow .cmp-breadcrumb span {
  color: #FFCF07; }

.cru-breadcrumb-gray-dark .cmp-breadcrumb .cmp-breadcrumb__item::before,
.cru-breadcrumb-gray-dark .cmp-breadcrumb .cmp-breadcrumb__item-link,
.cru-breadcrumb-gray-dark .cmp-breadcrumb span {
  color: #383F43; }

.cru-breadcrumb-gray-medium .cmp-breadcrumb .cmp-breadcrumb__item::before,
.cru-breadcrumb-gray-medium .cmp-breadcrumb .cmp-breadcrumb__item-link,
.cru-breadcrumb-gray-medium .cmp-breadcrumb span {
  color: #9C9FA1; }

.cru-breadcrumb-gray-light .cmp-breadcrumb .cmp-breadcrumb__item::before,
.cru-breadcrumb-gray-light .cmp-breadcrumb .cmp-breadcrumb__item-link,
.cru-breadcrumb-gray-light .cmp-breadcrumb span {
  color: #EBECEC; }

.cru-breadcrumb-white .cmp-breadcrumb .cmp-breadcrumb__item::before,
.cru-breadcrumb-white .cmp-breadcrumb .cmp-breadcrumb__item-link,
.cru-breadcrumb-white .cmp-breadcrumb span {
  color: #FFFFFF; }

/* Button styles */
.cmp-button {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: calc(1em + 4px);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  cursor: pointer;
  letter-spacing: 0.02em;
  color: #383F43;
  background-color: #FFCF07;
  border-color: #FFCF07;
  font-size: 1rem;
  padding: 9px 23px; }
  @media (max-width: 768px) {
    .cmp-button {
      font-size: 0.875rem;
      padding: 6px 15px; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .cmp-button {
      font-size: 1rem;
      padding: 9px 23px; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .cmp-button {
      font-size: 1rem;
      padding: 9px 23px; } }
  .cmp-button:hover {
    color: #FFFFFF;
    background-color: #FFCF07;
    border-color: #FFCF07; }
  .cmp-button:active, .cmp-button:focus {
    outline: none; }
  .cmp-button.disabled, .cmp-button[disabled] {
    cursor: not-allowed;
    color: #9C9FA1;
    background-color: #EBECEC;
    border-color: #EBECEC; }

/* Carousel styles */
/* Container styles */
/* Download styles */
/* Embed styles */
/* Form styles */
/* Image styles */
/* List styles */
/* Separator styles */
/* Sharing styles */
/* Tabs styles */
/* Teaser styles */
/* Text styles */
/* Title styles */
.title .cmp-title__text {
  margin-top: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #383F43;
  line-height: calc(1em + 8px);
  margin-bottom: 0; }
  .title .cmp-title__text a {
    color: inherit;
    text-decoration: none; }
    .title .cmp-title__text a:hover {
      text-decoration: underline; }

.title.cru-heading-xxl .cmp-title__text {
  font-size: 6rem; }
  @media (max-width: 768px) {
    .title.cru-heading-xxl .cmp-title__text {
      font-size: 4rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-xxl .cmp-title__text {
      font-size: 4rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-xxl .cmp-title__text {
      font-size: 4rem; } }

.title.cru-heading-xl .cmp-title__text {
  font-size: 4rem; }
  @media (max-width: 768px) {
    .title.cru-heading-xl .cmp-title__text {
      font-size: 3rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-xl .cmp-title__text {
      font-size: 3rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-xl .cmp-title__text {
      font-size: 3rem; } }

.title.cru-heading-lg .cmp-title__text {
  font-size: 3rem; }
  @media (max-width: 768px) {
    .title.cru-heading-lg .cmp-title__text {
      font-size: 2rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-lg .cmp-title__text {
      font-size: 2rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-lg .cmp-title__text {
      font-size: 2rem; } }

.title.cru-heading-md .cmp-title__text {
  font-size: 2rem; }
  @media (max-width: 768px) {
    .title.cru-heading-md .cmp-title__text {
      font-size: 1.5rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-md .cmp-title__text {
      font-size: 1.5rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-md .cmp-title__text {
      font-size: 1.5rem; } }

.title.cru-heading-sm .cmp-title__text {
  font-size: 1.5rem; }

.title.cru-heading-xs .cmp-title__text {
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.12em; }

.title.cru-heading-xxs .cmp-title__text {
  font-size: 0.875rem;
  line-height: 1.43;
  text-transform: uppercase;
  letter-spacing: 0.12em; }
