/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
/* Accordion styles */
.cmp-accordion__item {
  border: 1px solid #EBECEC;
  border-width: 0 0 1px; }
  .cmp-accordion__item:first-child {
    border-top-width: 1px; }

.cmp-accordion__header {
  margin: 0; }

.cmp-accordion__icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 0; }
  .cmp-accordion__icon::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 1.125rem;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    content: 'expand_more'; }

.cmp-accordion__button {
  display: block;
  color: #383F43;
  border: none;
  cursor: pointer;
  padding: 9px 0;
  background-color: transparent;
  text-align: left;
  width: 100%;
  position: relative; }
  .cmp-accordion__button--expanded {
    color: #FFCF07; }
    .cmp-accordion__button--expanded .cmp-accordion__icon::before {
      content: 'expand_less'; }

.cmp-accordion__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  line-height: calc(0.875rem + 6px);
  display: inline-block; }

.cmp-accordion__panel {
  padding: 8px 0 16px;
  line-height: calc(1em + 8px);
  font-size: 1.125rem; }
  @media (max-width: 768px) {
    .cmp-accordion__panel {
      font-size: 1rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .cmp-accordion__panel {
      font-size: 1rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .cmp-accordion__panel {
      font-size: 1rem; } }
  .cmp-accordion__panel--hidden {
    display: none; }

.cru-accordion-dark .cmp-accordion__button, .cru-accordion-dark .cmp-accordion__panel {
  color: #FFFFFF; }

.cru-accordion-dark .cmp-accordion__button--expanded {
  color: #FFCF07; }

.cru-accordion-links .cmp-accordion__item {
  border: none; }

.cru-accordion-links .cmp-accordion__icon {
  position: relative;
  top: unset;
  right: unset;
  transform: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: #FFCF07 1px solid;
  border-radius: 16px;
  margin-left: 8px;
  text-align: center; }

.cru-accordion-links .cmp-accordion__button {
  color: #383F43; }
  .cru-accordion-links .cmp-accordion__button span {
    vertical-align: middle; }
  .cru-accordion-links .cmp-accordion__button::before {
    display: block;
    content: '';
    width: 32px;
    height: 2px;
    background-color: #FFCF07;
    position: absolute;
    top: 0;
    left: 0; }
  .cru-accordion-links .cmp-accordion__button .cmp-accordion__icon::before {
    color: #FFCF07;
    line-height: 30px; }

.cru-accordion-links .cmp-accordion__panel {
  padding-top: 16px; }

.cru-accordion-links.cru-accordion-dark .cmp-accordion__button {
  color: #FFFFFF; }

/* Breadcrumb styles */
/* Button styles */
.cmp-button {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: calc(1em + 4px);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  cursor: pointer;
  letter-spacing: 0.02em;
  color: #383F43;
  background-color: #FFCF07;
  border-color: #FFCF07;
  font-size: 1rem;
  padding: 9px 23px; }
  @media (max-width: 768px) {
    .cmp-button {
      font-size: 0.875rem;
      padding: 6px 15px; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .cmp-button {
      font-size: 1rem;
      padding: 9px 23px; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .cmp-button {
      font-size: 1rem;
      padding: 9px 23px; } }
  .cmp-button:hover {
    color: #FFFFFF;
    background-color: #FFCF07;
    border-color: #FFCF07; }
  .cmp-button:active, .cmp-button:focus {
    outline: none; }
  .cmp-button.disabled, .cmp-button[disabled] {
    cursor: not-allowed;
    color: #9C9FA1;
    background-color: #EBECEC;
    border-color: #EBECEC; }

/* Carousel styles */
/* Container styles */
/* Download styles */
/* Embed styles */
/* Form styles */
/* Image styles */
/* Input styles */
.cmp-form .text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: calc(1em + 8px);
  color: #383F43;
  font-size: 1.125rem;
  margin: 8px;
  width: 352px;
  position: relative; }
  @media (max-width: 768px) {
    .cmp-form .text {
      font-size: 1rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .cmp-form .text {
      font-size: 1rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .cmp-form .text {
      font-size: 1rem; } }
  .cmp-form .text .cmp-form-text label, .cmp-form .text .cmp-form-text span {
    font-size: 0.875rem;
    display: block; }
  .cmp-form .text .cmp-form-text svg {
    position: absolute;
    right: 6px;
    bottom: 40px; }
  .cmp-form .text .cmp-form-text__text {
    font-size: 1rem;
    height: 48px;
    color: #383F43;
    border-width: 1px;
    border-style: solid;
    border-color: #383F43;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%; }
    .cmp-form .text .cmp-form-text__text::placeholder {
      color: #383F43; }
  .cmp-form .text .cmp-form-text.cru-text-active .cmp-form-text__text {
    outline: none;
    border: none;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
    caret-color: #FFCF07; }
  .cmp-form .text .cmp-form-text.cru-text-active .cmp-form-text__text::placeholder {
    color: transparent; }
  .cmp-form .text .cmp-form-text.cru-text-disabled label {
    color: #EBECEC; }
  .cmp-form .text .cmp-form-text.cru-text-disabled .cmp-form-text__text {
    border-width: 1px;
    border-style: solid;
    border-color: #EBECEC;
    color: #EBECEC;
    font-weight: 400; }
    .cmp-form .text .cmp-form-text.cru-text-disabled .cmp-form-text__text::placeholder {
      color: #EBECEC; }
  .cmp-form .text .cmp-form-text.cru-text-alert .cmp-form-text__text {
    border-color: #FFCF07; }
  .cmp-form .text.cru-form-text-without-borders .cmp-form-text__text {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0; }
  .cmp-form .text.cru-form-text-without-borders .cmp-form-text.cru-text-active .cmp-form-text__text {
    box-shadow: none;
    border-bottom: 1px solid #FFCF07; }
  .cmp-form .text.cru-form-text-without-borders .cmp-form-text.cru-text-disabled label {
    color: transparent; }
  .cmp-form .text.cru-form-text-without-borders .cmp-form-text.cru-text-disabled .cmp-form-text__text {
    border-top: none;
    border-left: none;
    border-right: none; }
  .cmp-form .text.cru-form-text-dark .cmp-form-text label, .cmp-form .text.cru-form-text-dark .cmp-form-text span {
    color: #FFFFFF; }
  .cmp-form .text.cru-form-text-dark .cmp-form-text__text {
    background-color: #383F43;
    border-color: #FFFFFF;
    color: #FFFFFF; }
    .cmp-form .text.cru-form-text-dark .cmp-form-text__text::placeholder {
      color: #FFFFFF; }
  .cmp-form .text.cru-form-text-dark .cmp-form-text.cru-text-active .cmp-form-text__text {
    background-color: #FFFFFF;
    color: #383F43; }
  .cmp-form .text.cru-form-text-dark .cmp-form-text.cru-text-active::placeholder .cmp-form-text__text {
    color: transparent; }
  .cmp-form .text.cru-form-text-dark .cmp-form-text.cru-text-disabled label {
    color: #9C9FA1; }
  .cmp-form .text.cru-form-text-dark .cmp-form-text.cru-text-disabled .cmp-form-text__text, .cmp-form .text.cru-form-text-dark .cmp-form-text.cru-text-disabled .cmp-form-text__text::placeholder {
    border-color: #9C9FA1;
    color: #9C9FA1; }
  .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text__text {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0; }
  .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-active .cmp-form-text__text {
    box-shadow: none;
    border-bottom: 1px solid #FFCF07; }
  .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-disabled label {
    color: transparent; }
  .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-disabled .cmp-form-text__text {
    border-top: none;
    border-left: none;
    border-right: none; }
  .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text label, .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text span {
    color: #FFFFFF; }
  .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text__text {
    background-color: #383F43;
    border-color: #FFFFFF;
    color: #FFFFFF; }
    .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text__text::placeholder {
      color: #FFFFFF; }
  .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-active .cmp-form-text__text {
    background-color: #FFFFFF;
    color: #383F43; }
  .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-active::placeholder .cmp-form-text__text {
    color: transparent; }
  .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-disabled label {
    color: #9C9FA1; }
  .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-disabled .cmp-form-text__text, .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-disabled .cmp-form-text__text::placeholder {
    border-color: #9C9FA1;
    color: #9C9FA1; }
  .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text__text:focus::placeholder {
    color: transparent; }
  .cmp-form .text.cru-form-text-dark-without-borders .cmp-form-text.cru-text-active .cmp-form-text__text {
    background-color: #383F43;
    color: #FFFFFF; }

/* List styles */
.cmp-list__item {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: calc(1em + 8px);
  color: #383F43;
  font-size: 1.125rem;
  padding-left: 12px; }
  @media (max-width: 768px) {
    .cmp-list__item {
      font-size: 1rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .cmp-list__item {
      font-size: 1rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .cmp-list__item {
      font-size: 1rem; } }
  .cmp-list__item-link {
    color: inherit; }

.cru-list-extra-spacing .cmp-list__item {
  margin-bottom: 16px; }

/* Searchbar styles */
.searchbar .searchBar__root .fieldIcons__root .field__input {
  border: 1px solid #EBECEC;
  border-radius: 24px;
  width: 352px;
  font-size: 16px;
  height: 48px;
  box-sizing: border-box; }
  .searchbar .searchBar__root .fieldIcons__root .field__input:focus {
    outline: none;
    border: none;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
    caret-color: #FFCF07; }

.searchbar .searchBar__root .fieldIcons__root .icon__root svg {
  position: relative;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 44px; }
  .searchbar .searchBar__root .fieldIcons__root .icon__root svg circle, .searchbar .searchBar__root .fieldIcons__root .icon__root svg line {
    stroke: #383F43; }

.searchbar .searchBar__root:focus-within .fieldIcons__root .icon__root svg {
  background-color: #FFCF07;
  border-radius: 50%; }
  .searchbar .searchBar__root:focus-within .fieldIcons__root .icon__root svg circle, .searchbar .searchBar__root:focus-within .fieldIcons__root .icon__root svg line {
    stroke: #FFFFFF; }

.searchbar.cru-searchbar-dark .searchBar__root .fieldIcons__root .field__input {
  background-color: #383F43;
  color: #FFFFFF; }
  .searchbar.cru-searchbar-dark .searchBar__root .fieldIcons__root .field__input:focus, .searchbar.cru-searchbar-dark .searchBar__root .fieldIcons__root .field__input:focus::placeholder {
    background-color: #FFFFFF;
    color: #383F43; }

.searchbar.cru-searchbar-dark .searchBar__root .fieldIcons__root .field__input::placeholder {
  color: #FFFFFF; }

.searchbar.cru-searchbar-dark .searchBar__root .fieldIcons__root .icon__root svg circle, .searchbar.cru-searchbar-dark .searchBar__root .fieldIcons__root .icon__root svg line {
  stroke: #FFFFFF; }

/* Separator styles */
.separator {
  margin: 48px 0; }

.cmp-separator__horizontal-rule {
  border-color: #9C9FA1;
  border-style: solid;
  border-width: 1px 0;
  margin: 0; }

.cru-separator-yellow .cmp-separator__horizontal-rule {
  border-color: #FFCF07; }

.cru-separator-gray-dark .cmp-separator__horizontal-rule {
  border-color: #383F43; }

.cru-separator-gray-medium .cmp-separator__horizontal-rule {
  border-color: #9C9FA1; }

.cru-separator-gray-light .cmp-separator__horizontal-rule {
  border-color: #EBECEC; }

.cru-separator-white .cmp-separator__horizontal-rule {
  border-color: #FFFFFF; }

/* Sharing styles */
/* Tabs styles */
.cmp-tabs__tablist {
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0;
  border-bottom: #EBECEC 2px solid; }

.cmp-tabs__tab {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: calc(1em + 8px);
  color: #383F43;
  font-size: 1.125rem;
  font-size: 1rem;
  list-style: none;
  color: #9C9FA1;
  padding: 12px 24px;
  line-height: calc(1em + 8px);
  display: inline-block;
  border-bottom: #EBECEC 2px solid;
  margin-bottom: -2px;
  white-space: nowrap; }
  @media (max-width: 768px) {
    .cmp-tabs__tab {
      font-size: 1rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .cmp-tabs__tab {
      font-size: 1rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .cmp-tabs__tab {
      font-size: 1rem; } }
  .cmp-tabs__tab--active {
    border-color: #FFCF07;
    color: #383F43; }

.cmp-tabs__tabpanel {
  display: none; }
  .cmp-tabs__tabpanel--active {
    display: block; }

.cru-tablist-icon .cmp-tabs__tab::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #9C9FA1;
  vertical-align: text-bottom;
  margin-right: 8px; }

.cru-tablist-icon .cmp-tabs__tab--active::before {
  background-color: #FFCF07; }

/* Teaser styles */
/* Text styles */
/* Title styles */
.title .cmp-title__text {
  margin-top: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #383F43;
  line-height: calc(1em + 8px);
  margin-bottom: 0; }
  .title .cmp-title__text a {
    color: inherit;
    text-decoration: none; }
    .title .cmp-title__text a:hover {
      text-decoration: underline; }

.title.cru-heading-xxl .cmp-title__text {
  font-size: 6rem; }
  @media (max-width: 768px) {
    .title.cru-heading-xxl .cmp-title__text {
      font-size: 4rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-xxl .cmp-title__text {
      font-size: 4rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-xxl .cmp-title__text {
      font-size: 4rem; } }

.title.cru-heading-xl .cmp-title__text {
  font-size: 4rem; }
  @media (max-width: 768px) {
    .title.cru-heading-xl .cmp-title__text {
      font-size: 3rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-xl .cmp-title__text {
      font-size: 3rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-xl .cmp-title__text {
      font-size: 3rem; } }

.title.cru-heading-lg .cmp-title__text {
  font-size: 3rem; }
  @media (max-width: 768px) {
    .title.cru-heading-lg .cmp-title__text {
      font-size: 2rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-lg .cmp-title__text {
      font-size: 2rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-lg .cmp-title__text {
      font-size: 2rem; } }

.title.cru-heading-md .cmp-title__text {
  font-size: 2rem; }
  @media (max-width: 768px) {
    .title.cru-heading-md .cmp-title__text {
      font-size: 1.5rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-md .cmp-title__text {
      font-size: 1.5rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-md .cmp-title__text {
      font-size: 1.5rem; } }

.title.cru-heading-sm .cmp-title__text {
  font-size: 1.5rem; }

.title.cru-heading-xs .cmp-title__text {
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.12em; }

.title.cru-heading-xxs .cmp-title__text {
  font-size: 0.875rem;
  line-height: 1.43;
  text-transform: uppercase;
  letter-spacing: 0.12em; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 500;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("fonts/material-icons.woff2") format("woff2"), url("fonts/material-icons.woff") format("woff"), url("fonts/material-icons.ttf") format("truetype"); }
