/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
/* Accordion styles */
.cmp-accordion__item {
  border: 1px solid #EBECEC;
  border-width: 0 0 1px; }
  .cmp-accordion__item:first-child {
    border-top-width: 1px; }

.cmp-accordion__header {
  margin: 0; }

.cmp-accordion__icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 0; }
  .cmp-accordion__icon::before {
    font-family: "Material Icons";
    font-size: 1.125rem;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    content: 'expand_more'; }

.cmp-accordion__button {
  display: block;
  color: #383F43;
  border: none;
  cursor: pointer;
  padding: 9px 0;
  background-color: transparent;
  text-align: left;
  width: 100%;
  position: relative; }
  .cmp-accordion__button--expanded {
    color: #FFCF07; }
    .cmp-accordion__button--expanded .cmp-accordion__icon::before {
      content: 'expand_less'; }

.cmp-accordion__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  line-height: calc(0.875rem + 6px);
  display: inline-block; }

.cmp-accordion__panel {
  padding: 8px 0 16px;
  line-height: calc(1em + 8px);
  font-size: 1.125rem; }
  @media (max-width: 768px) {
    .cmp-accordion__panel {
      font-size: 1rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .cmp-accordion__panel {
      font-size: 1rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .cmp-accordion__panel {
      font-size: 1rem; } }
  .cmp-accordion__panel--hidden {
    display: none; }

.cru-accordion-dark .cmp-accordion__button, .cru-accordion-dark .cmp-accordion__panel {
  color: #FFFFFF; }

.cru-accordion-dark .cmp-accordion__button--expanded {
  color: #FFCF07; }

.cru-accordion-links .cmp-accordion__item {
  border: none; }

.cru-accordion-links .cmp-accordion__icon {
  position: relative;
  top: unset;
  right: unset;
  transform: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: #FFCF07 1px solid;
  border-radius: 16px;
  margin-left: 8px;
  text-align: center; }

.cru-accordion-links .cmp-accordion__button {
  color: #383F43; }
  .cru-accordion-links .cmp-accordion__button span {
    vertical-align: middle; }
  .cru-accordion-links .cmp-accordion__button::before {
    display: block;
    content: '';
    width: 32px;
    height: 2px;
    background-color: #FFCF07;
    position: absolute;
    top: 0;
    left: 0; }
  .cru-accordion-links .cmp-accordion__button .cmp-accordion__icon::before {
    color: #FFCF07;
    line-height: 30px; }

.cru-accordion-links .cmp-accordion__panel {
  padding-top: 16px; }

.cru-accordion-links.cru-accordion-dark .cmp-accordion__button {
  color: #FFFFFF; }

/* Breadcrumb styles */
.cmp-breadcrumb__list {
  margin: 0;
  padding: 0; }

.cmp-breadcrumb__item {
  margin: 0 0 0 10px;
  padding: 0 0 0 18px;
  list-style-type: none;
  display: inline-block;
  position: relative; }
  .cmp-breadcrumb__item::before {
    display: inline-block;
    content: '>';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #383F43; }
  .cmp-breadcrumb__item:first-of-type {
    margin-left: 0;
    padding-left: 0; }
    .cmp-breadcrumb__item:first-of-type::before {
      display: none; }
  @media (max-width: 768px) {
    .cmp-breadcrumb__item:not(.cmp-breadcrumb__item--active) {
      display: none; }
    .cmp-breadcrumb__item.cmp-breadcrumb__item--active {
      margin-left: 0; }
      .cmp-breadcrumb__item.cmp-breadcrumb__item--active::before {
        content: '<'; } }

.cmp-breadcrumb__item-link,
.cmp-breadcrumb span {
  color: #383F43; }

.cmp-breadcrumb__item-link {
  text-decoration: none; }
  .cmp-breadcrumb__item-link:hover {
    text-decoration: underline; }

.cmp-breadcrumb span {
  font-size: 0.875rem;
  line-height: calc(1em + 8px); }

.cru-breadcrumb-yellow .cmp-breadcrumb .cmp-breadcrumb__item::before,
.cru-breadcrumb-yellow .cmp-breadcrumb .cmp-breadcrumb__item-link,
.cru-breadcrumb-yellow .cmp-breadcrumb span {
  color: #FFCF07; }

.cru-breadcrumb-gray-dark .cmp-breadcrumb .cmp-breadcrumb__item::before,
.cru-breadcrumb-gray-dark .cmp-breadcrumb .cmp-breadcrumb__item-link,
.cru-breadcrumb-gray-dark .cmp-breadcrumb span {
  color: #383F43; }

.cru-breadcrumb-gray-medium .cmp-breadcrumb .cmp-breadcrumb__item::before,
.cru-breadcrumb-gray-medium .cmp-breadcrumb .cmp-breadcrumb__item-link,
.cru-breadcrumb-gray-medium .cmp-breadcrumb span {
  color: #9C9FA1; }

.cru-breadcrumb-gray-light .cmp-breadcrumb .cmp-breadcrumb__item::before,
.cru-breadcrumb-gray-light .cmp-breadcrumb .cmp-breadcrumb__item-link,
.cru-breadcrumb-gray-light .cmp-breadcrumb span {
  color: #EBECEC; }

.cru-breadcrumb-white .cmp-breadcrumb .cmp-breadcrumb__item::before,
.cru-breadcrumb-white .cmp-breadcrumb .cmp-breadcrumb__item-link,
.cru-breadcrumb-white .cmp-breadcrumb span {
  color: #FFFFFF; }

/* Button styles */
.cmp-button {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  text-transform: none; }
  .cmp-button:focus {
    outline: none; }

.cru-button-standard .cmp-button {
  line-height: calc(1em + 4px);
  border-radius: 4px;
  font-size: 1rem;
  padding: 9px 23px; }
  @media (max-width: 768px) {
    .cru-button-standard .cmp-button {
      font-size: 0.875rem;
      padding: 6px 15px; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .cru-button-standard .cmp-button {
      font-size: 1rem;
      padding: 9px 23px; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .cru-button-standard .cmp-button {
      font-size: 1rem;
      padding: 9px 23px; } }

.cru-button-standard.cru-button-solid .cmp-button {
  color: #383F43;
  background-color: #FFCF07;
  border-color: #FFCF07; }

.cru-button-standard.cru-button-outline .cmp-button {
  color: #383F43;
  background-color: transparent;
  border-color: #FFCF07; }

.cru-button-tag .cmp-button {
  line-height: calc(1em + 8px);
  border-radius: 16px;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 15px;
  padding-right: 8px;
  padding-bottom: 4px; }
  .cru-button-tag .cmp-button__text:first-child {
    padding-right: 7px; }
  .cru-button-tag .cmp-button__icon::before {
    font-size: 16px; }

.cru-button-tag.cru-button-solid .cmp-button {
  color: #FFFFFF;
  background-color: #383F43;
  border-color: #383F43; }

.cru-button-tag.cru-button-outline .cmp-button {
  color: #383F43;
  background-color: transparent;
  border-color: #383F43; }

.cru-button-standard .cmp-button,
.cru-button-tag .cmp-button {
  border-width: 1px;
  border-style: solid; }
  .cru-button-standard .cmp-button__icon::before,
  .cru-button-tag .cmp-button__icon::before {
    position: relative;
    top: 3px; }

.cru-button-combo .cmp-button {
  font-size: 16px;
  line-height: 32px;
  color: #383F43; }

.cru-button-combo.cru-button-gray-text .cmp-button {
  color: #383F43; }

.cru-button-combo.cru-button-white-text .cmp-button {
  color: #FFFFFF; }

.cru-button-dot .cmp-button,
.cru-button-combo .cmp-button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #383F43; }
  .cru-button-dot .cmp-button__icon,
  .cru-button-combo .cmp-button__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    transition: all 0.15s ease-in-out; }
    .cru-button-dot .cmp-button__icon::before,
    .cru-button-combo .cmp-button__icon::before {
      line-height: 30px; }

.cru-button-dot.cru-button-solid.cru-button-shadow .cmp-button__icon,
.cru-button-combo.cru-button-solid.cru-button-shadow .cmp-button__icon {
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08); }

.cru-button-dot.cru-button-solid .cmp-button__icon,
.cru-button-combo.cru-button-solid .cmp-button__icon {
  color: #383F43;
  background-color: #FFCF07;
  border-color: #FFCF07; }

.cru-button-dot.cru-button-outline .cmp-button__icon,
.cru-button-combo.cru-button-outline .cmp-button__icon {
  color: #FFCF07;
  background-color: transparent;
  border-color: #FFCF07; }

.button.disabled .cmp-button,
.button .cmp-button[disabled] {
  cursor: not-allowed; }

.cru-button-standard .cmp-button__icon,
.cru-button-tag .cmp-button__icon,
.cru-button-combo .cmp-button__icon {
  margin-left: 8px;
  float: right; }

.cru-button-standard.cru-button-solid.cru-button-yellow-gray .cmp-button {
  color: #383F43;
  background-color: #FFCF07;
  border-color: #FFCF07; }

.cru-button-standard.cru-button-outline.cru-button-yellow-gray .cmp-button {
  color: #383F43;
  background-color: transparent;
  border-color: #FFCF07; }

.cru-button-standard.cru-button-outline.cru-button-yellow-white .cmp-button {
  color: #FFFFFF;
  background-color: transparent;
  border-color: #FFCF07; }

.cru-button-standard.cru-button-outline.cru-button-white-white .cmp-button:hover {
  color: #383F43;
  background-color: #FFFFFF;
  border-color: #FFFFFF; }

.cru-button-standard.cru-button-solid.cru-button-gray-white .cmp-button,
.cru-button-tag.cru-button-solid.cru-button-gray-white .cmp-button {
  color: #FFFFFF;
  background-color: #383F43;
  border-color: #383F43; }

.cru-button-standard.cru-button-solid.cru-button-white-gray .cmp-button,
.cru-button-tag.cru-button-solid.cru-button-white-gray .cmp-button {
  color: #383F43;
  background-color: #FFFFFF;
  border-color: #FFFFFF; }

.cru-button-standard.cru-button-outline.cru-button-gray-gray .cmp-button,
.cru-button-tag.cru-button-outline.cru-button-gray-gray .cmp-button {
  color: #383F43;
  background-color: transparent;
  border-color: #383F43; }

.cru-button-standard.cru-button-outline.cru-button-white-white .cmp-button,
.cru-button-tag.cru-button-outline.cru-button-white-white .cmp-button {
  color: #FFFFFF;
  background-color: transparent;
  border-color: #FFFFFF; }

.cru-button-dot.cru-button-solid.cru-button-yellow-gray .cmp-button:hover .cmp-button__icon {
  color: #FFFFFF;
  background-color: #383F43;
  border-color: #383F43; }

.cru-button-dot.cru-button-solid.cru-button-white-gray .cmp-button__icon {
  color: #383F43;
  background-color: #FFFFFF;
  border-color: #FFFFFF; }

.cru-button-dot.cru-button-solid.cru-button-yellow-gray .cmp-button__icon,
.cru-button-combo.cru-button-solid.cru-button-yellow-gray .cmp-button__icon {
  color: #383F43;
  background-color: #FFCF07;
  border-color: #FFCF07; }

.cru-button-dot.cru-button-solid.cru-button-gray-white .cmp-button__icon,
.cru-button-combo.cru-button-solid.cru-button-gray-white .cmp-button__icon {
  color: #FFFFFF;
  background-color: #383F43;
  border-color: #383F43; }

.cru-button-dot.cru-button-outline.cru-button-yellow-yellow .cmp-button__icon,
.cru-button-combo.cru-button-outline.cru-button-yellow-yellow .cmp-button__icon {
  color: #FFCF07;
  background-color: transparent;
  border-color: #FFCF07; }

.cru-button-dot.cru-button-outline.cru-button-gray-gray .cmp-button__icon,
.cru-button-combo.cru-button-outline.cru-button-gray-gray .cmp-button__icon {
  color: #383F43;
  background-color: transparent;
  border-color: #383F43; }

.cru-button-dot.cru-button-outline.cru-button-white-white .cmp-button__icon,
.cru-button-combo.cru-button-outline.cru-button-white-white .cmp-button__icon {
  color: #FFFFFF;
  background-color: transparent;
  border-color: #FFFFFF; }

.cru-button-standard.cru-button-solid .cmp-button:hover, .cru-button-standard.cru-button-outline .cmp-button:hover,
.cru-button-tag.cru-button-solid .cmp-button:hover,
.cru-button-tag.cru-button-outline .cmp-button:hover {
  color: #FFFFFF;
  background-color: #FFCF07;
  border-color: #FFCF07; }

.cru-button-dot.cru-button-solid .cmp-button:hover, .cru-button-dot.cru-button-outline .cmp-button:hover,
.cru-button-combo.cru-button-solid .cmp-button:hover,
.cru-button-combo.cru-button-outline .cmp-button:hover {
  color: #FFCF07; }
  .cru-button-dot.cru-button-solid .cmp-button:hover .cmp-button__icon, .cru-button-dot.cru-button-outline .cmp-button:hover .cmp-button__icon,
  .cru-button-combo.cru-button-solid .cmp-button:hover .cmp-button__icon,
  .cru-button-combo.cru-button-outline .cmp-button:hover .cmp-button__icon {
    color: #FFFFFF;
    background-color: #FFCF07;
    border-color: #FFCF07; }

.cru-button-standard.cru-button-solid.disabled .cmp-button,
.cru-button-standard.cru-button-solid .cmp-button[disabled],
.cru-button-tag.cru-button-solid.disabled .cmp-button,
.cru-button-tag.cru-button-solid .cmp-button[disabled] {
  color: #9C9FA1 !important;
  background-color: #EBECEC !important;
  border-color: #EBECEC !important; }

.cru-button-standard.cru-button-outline.disabled .cmp-button,
.cru-button-standard.cru-button-outline .cmp-button[disabled],
.cru-button-tag.cru-button-outline.disabled .cmp-button,
.cru-button-tag.cru-button-outline .cmp-button[disabled] {
  color: #9C9FA1 !important;
  background-color: transparent !important;
  border-color: #9C9FA1 !important; }

.cru-button-dot.cru-button-solid.disabled .cmp-button,
.cru-button-dot.cru-button-solid .cmp-button[disabled],
.cru-button-combo.cru-button-solid.disabled .cmp-button,
.cru-button-combo.cru-button-solid .cmp-button[disabled] {
  color: #9C9FA1 !important; }
  .cru-button-dot.cru-button-solid.disabled .cmp-button .cmp-button__icon,
  .cru-button-dot.cru-button-solid .cmp-button[disabled] .cmp-button__icon,
  .cru-button-combo.cru-button-solid.disabled .cmp-button .cmp-button__icon,
  .cru-button-combo.cru-button-solid .cmp-button[disabled] .cmp-button__icon {
    color: #9C9FA1 !important;
    background-color: #EBECEC !important;
    border-color: #EBECEC !important; }

.cru-button-dot.cru-button-outline.disabled .cmp-button,
.cru-button-dot.cru-button-outline .cmp-button[disabled],
.cru-button-combo.cru-button-outline.disabled .cmp-button,
.cru-button-combo.cru-button-outline .cmp-button[disabled] {
  color: #9C9FA1 !important; }
  .cru-button-dot.cru-button-outline.disabled .cmp-button .cmp-button__icon,
  .cru-button-dot.cru-button-outline .cmp-button[disabled] .cmp-button__icon,
  .cru-button-combo.cru-button-outline.disabled .cmp-button .cmp-button__icon,
  .cru-button-combo.cru-button-outline .cmp-button[disabled] .cmp-button__icon {
    color: #9C9FA1 !important;
    background-color: transparent !important;
    border-color: #9C9FA1 !important; }

/* Carousel styles */
/* Container styles */
/* Download styles */
/* Embed styles */
/* Form styles */
/* Image styles */
/* Input styles */
.cmp-form .text + .text,
.cmp-form .text + .option,
.cmp-form .text + .button,
.cmp-form .option + .text,
.cmp-form .option + .option,
.cmp-form .option + .button,
.cmp-form .button + .text,
.cmp-form .button + .option,
.cmp-form .button + .button {
  margin-top: 16px; }

.cmp-form label {
  display: block;
  font-size: 0.875rem;
  line-height: calc(1em + 8px);
  margin-bottom: 8px;
  color: #383F43; }

.cmp-form input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: calc(1em + 8px);
  padding: 11px 16px;
  color: #383F43;
  border-color: #383F43;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background-color: transparent;
  transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out; }
  .cmp-form input[type="text"]::placeholder {
    color: #383F43; }
  .cmp-form input[type="text"]::-webkit-input-placeholder {
    color: #383F43; }
  .cmp-form input[type="text"]::-moz-placeholder {
    color: #383F43;
    opacity: 1; }
  .cmp-form input[type="text"]:-ms-input-placeholder {
    color: #383F43; }
  .cmp-form input[type="text"]:-moz-placeholder {
    color: #383F43; }
  .cmp-form input[type="text"]:focus {
    outline: none;
    caret-color: #FFCF07; }
    .cmp-form input[type="text"]:focus::placeholder {
      color: transparent !important; }
    .cmp-form input[type="text"]:focus::-webkit-input-placeholder {
      color: transparent !important; }
    .cmp-form input[type="text"]:focus::-moz-placeholder {
      color: transparent !important;
      opacity: 1; }
    .cmp-form input[type="text"]:focus:-ms-input-placeholder {
      color: transparent !important; }
    .cmp-form input[type="text"]:focus:-moz-placeholder {
      color: transparent !important; }

.cru-form-standard input[type="text"]:focus {
  background-color: #FFFFFF;
  border-color: transparent;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08); }

.cru-form-underline label {
  opacity: 0;
  margin-bottom: 0; }

.cru-form-underline input[type="text"] {
  padding: 6px 0;
  border-width: 0 0 1px;
  border-radius: 0; }
  .cru-form-underline input[type="text"]:focus {
    border-color: #FFCF07; }

.cru-form-underline .cru-form-text-alert label,
.cru-form-underline .cmp-form-text:focus-within label {
  opacity: 1; }

.cru-form-underline .cru-form-text-alert .cmp-form-text::before {
  bottom: 7px;
  left: 0; }

.cru-form-underline .cru-form-text-alert input[type="text"] {
  padding-left: 40px; }

.cru-form-text-alert {
  position: relative; }
  .cru-form-text-alert .cmp-form-text::before {
    font-family: "Material Icons Round";
    font-size: 24px;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    content: 'warning_amber';
    position: absolute;
    bottom: 12px;
    left: 17px;
    color: #FFCF07; }
  .cru-form-text-alert input[type="text"] {
    border-color: #FFCF07;
    padding-left: 56px; }

.cru-form-text-disabled label {
  color: #EBECEC; }

.cru-form-text-disabled input[type="text"],
input[type="text"][disabled] {
  cursor: not-allowed;
  border-color: #EBECEC; }
  .cru-form-text-disabled input[type="text"]::placeholder,
  input[type="text"][disabled]::placeholder {
    color: #EBECEC; }
  .cru-form-text-disabled input[type="text"]::-webkit-input-placeholder,
  input[type="text"][disabled]::-webkit-input-placeholder {
    color: #EBECEC; }
  .cru-form-text-disabled input[type="text"]::-moz-placeholder,
  input[type="text"][disabled]::-moz-placeholder {
    color: #EBECEC;
    opacity: 1; }
  .cru-form-text-disabled input[type="text"]:-ms-input-placeholder,
  input[type="text"][disabled]:-ms-input-placeholder {
    color: #EBECEC; }
  .cru-form-text-disabled input[type="text"]:-moz-placeholder,
  input[type="text"][disabled]:-moz-placeholder {
    color: #EBECEC; }

.cru-form-dark label {
  color: #FFFFFF; }

.cru-form-dark input[type="text"] {
  color: #FFFFFF;
  border-color: #FFFFFF; }
  .cru-form-dark input[type="text"]::placeholder {
    color: #FFFFFF; }
  .cru-form-dark input[type="text"]::-webkit-input-placeholder {
    color: #FFFFFF; }
  .cru-form-dark input[type="text"]::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1; }
  .cru-form-dark input[type="text"]:-ms-input-placeholder {
    color: #FFFFFF; }
  .cru-form-dark input[type="text"]:-moz-placeholder {
    color: #FFFFFF; }
  .cru-form-dark input[type="text"]:focus {
    color: #383F43; }

.cru-form-dark .cru-form-text-alert input[type="text"] {
  border-color: #FFCF07; }
  .cru-form-dark .cru-form-text-alert input[type="text"]:focus {
    border-color: transparent; }

.cru-form-dark.cru-form-underline input[type="text"] {
  border-color: #9C9FA1; }
  .cru-form-dark.cru-form-underline input[type="text"]:focus {
    color: #FFFFFF; }

.cru-form-dark.cru-form-underline input[type="text"]:focus,
.cru-form-dark.cru-form-underline .cru-form-text-alert input[type="text"] {
  border-color: #FFCF07; }

.cru-form-dark .cru-form-text-disabled label {
  color: #9C9FA1; }

.cru-form-dark .cru-form-text-disabled input[type="text"],
.cru-form-dark input[type="text"][disabled] {
  border-color: #9C9FA1; }
  .cru-form-dark .cru-form-text-disabled input[type="text"]::placeholder,
  .cru-form-dark input[type="text"][disabled]::placeholder {
    color: #9C9FA1; }
  .cru-form-dark .cru-form-text-disabled input[type="text"]::-webkit-input-placeholder,
  .cru-form-dark input[type="text"][disabled]::-webkit-input-placeholder {
    color: #9C9FA1; }
  .cru-form-dark .cru-form-text-disabled input[type="text"]::-moz-placeholder,
  .cru-form-dark input[type="text"][disabled]::-moz-placeholder {
    color: #9C9FA1;
    opacity: 1; }
  .cru-form-dark .cru-form-text-disabled input[type="text"]:-ms-input-placeholder,
  .cru-form-dark input[type="text"][disabled]:-ms-input-placeholder {
    color: #9C9FA1; }
  .cru-form-dark .cru-form-text-disabled input[type="text"]:-moz-placeholder,
  .cru-form-dark input[type="text"][disabled]:-moz-placeholder {
    color: #9C9FA1; }

/* List styles */
.cmp-list__item,
.cmp-text li {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: calc(1em + 8px);
  color: #383F43;
  font-size: 1.125rem;
  padding-left: 12px; }
  @media (max-width: 768px) {
    .cmp-list__item,
    .cmp-text li {
      font-size: 1rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .cmp-list__item,
    .cmp-text li {
      font-size: 1rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .cmp-list__item,
    .cmp-text li {
      font-size: 1rem; } }

.cmp-list__item-link,
.cmp-text li a {
  color: inherit; }

.cru-list-extra-spacing .cmp-list__item {
  margin-bottom: 16px; }

/* Search styles */
.cmp-search__field {
  position: relative; }
  .cmp-search__field:focus-within .cmp-search__input {
    outline: none;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
    caret-color: #FFCF07; }
    .cmp-search__field:focus-within .cmp-search__input::placeholder {
      color: transparent !important; }
    .cmp-search__field:focus-within .cmp-search__input::-webkit-input-placeholder {
      color: transparent !important; }
    .cmp-search__field:focus-within .cmp-search__input::-moz-placeholder {
      color: transparent !important;
      opacity: 1; }
    .cmp-search__field:focus-within .cmp-search__input:-ms-input-placeholder {
      color: transparent !important; }
    .cmp-search__field:focus-within .cmp-search__input:-moz-placeholder {
      color: transparent !important; }
  .cmp-search__field:focus-within .cmp-search__icon {
    background-color: #FFCF07; }
    .cmp-search__field:focus-within .cmp-search__icon::before {
      color: #FFFFFF; }

.cmp-search__input {
  border: #EBECEC 1px solid;
  border-radius: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: calc(1em + 8px);
  background-color: transparent;
  transition: box-shadow .15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  padding: 11px 64px 11px 24px;
  width: 100%;
  box-sizing: border-box; }
  .cmp-search__input::placeholder {
    color: #383F43; }
  .cmp-search__input::-webkit-input-placeholder {
    color: #383F43; }
  .cmp-search__input::-moz-placeholder {
    color: #383F43;
    opacity: 1; }
  .cmp-search__input:-ms-input-placeholder {
    color: #383F43; }
  .cmp-search__input:-moz-placeholder {
    color: #383F43; }

.cmp-search__icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #EBECEC;
  background-image: none;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
  .cmp-search__icon::before {
    font-family: "Material Icons";
    font-size: 18px;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    content: 'search';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #383F43; }

.cmp-search__clear {
  display: none; }

.cru-search-dark .cmp-search__field:focus-within .cmp-search__input {
  color: #383F43; }

.cru-search-dark .cmp-search__input {
  color: #FFFFFF;
  border-color: #FFFFFF; }
  .cru-search-dark .cmp-search__input::placeholder {
    color: #FFFFFF; }
  .cru-search-dark .cmp-search__input::-webkit-input-placeholder {
    color: #FFFFFF; }
  .cru-search-dark .cmp-search__input::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1; }
  .cru-search-dark .cmp-search__input:-ms-input-placeholder {
    color: #FFFFFF; }
  .cru-search-dark .cmp-search__input:-moz-placeholder {
    color: #FFFFFF; }

.cru-search-dark .cmp-search__icon {
  background-color: #FFFFFF; }

/* Separator styles */
.separator {
  margin: 48px 0; }

.cmp-separator__horizontal-rule {
  border-color: #9C9FA1;
  border-style: solid;
  border-width: 1px 0;
  margin: 0; }

.cru-separator-yellow .cmp-separator__horizontal-rule {
  border-color: #FFCF07; }

.cru-separator-gray-dark .cmp-separator__horizontal-rule {
  border-color: #383F43; }

.cru-separator-gray-medium .cmp-separator__horizontal-rule {
  border-color: #9C9FA1; }

.cru-separator-gray-light .cmp-separator__horizontal-rule {
  border-color: #EBECEC; }

.cru-separator-white .cmp-separator__horizontal-rule {
  border-color: #FFFFFF; }

/* Sharing styles */
/* Tabs styles */
.cmp-tabs__tablist {
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0;
  border-bottom: #EBECEC 2px solid; }

.cmp-tabs__tab {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: calc(1em + 8px);
  color: #383F43;
  font-size: 1.125rem;
  font-size: 1rem;
  list-style: none;
  color: #9C9FA1;
  padding: 12px 24px;
  line-height: calc(1em + 8px);
  display: inline-block;
  border-bottom: #EBECEC 2px solid;
  margin-bottom: -2px;
  white-space: nowrap; }
  @media (max-width: 768px) {
    .cmp-tabs__tab {
      font-size: 1rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .cmp-tabs__tab {
      font-size: 1rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .cmp-tabs__tab {
      font-size: 1rem; } }
  .cmp-tabs__tab--active {
    border-color: #FFCF07;
    color: #383F43; }

.cmp-tabs__tabpanel {
  display: none; }
  .cmp-tabs__tabpanel--active {
    display: block; }

.cru-tablist-icon .cmp-tabs__tab::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #9C9FA1;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 8px; }

.cru-tablist-icon .cmp-tabs__tab--active::before {
  background-color: #FFCF07; }

/* Teaser styles */
.cru-teaser-layered {
  position: relative; }
  .cru-teaser-layered img {
    display: block;
    height: auto;
    max-width: 100%; }
  .cru-teaser-layered .cmp-teaser__image {
    position: relative; }
    .cru-teaser-layered .cmp-teaser__image::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3); }
    .cru-teaser-layered .cmp-teaser__image + .cmp-teaser__content {
      position: absolute;
      bottom: 48px;
      left: 32px;
      padding: 0; }
  .cru-teaser-layered .cmp-teaser__content {
    padding: 48px 32px;
    color: #FFFFFF; }
    .cru-teaser-layered .cmp-teaser__content > .cmp-teaser__title:first-child::before {
      display: block;
      content: '';
      width: 32px;
      height: 2px;
      background-color: #FFFFFF;
      margin-bottom: 8px; }
  .cru-teaser-layered .cmp-teaser__pretitle {
    font-size: 0.875rem;
    line-height: 1.43;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    color: #FFCF07;
    font-weight: 700; }
  .cru-teaser-layered .cmp-teaser__title {
    margin-top: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: #383F43;
    line-height: calc(1em + 8px);
    font-size: 4rem;
    color: #FFFFFF;
    margin: 0; }
    @media (max-width: 768px) {
      .cru-teaser-layered .cmp-teaser__title {
        font-size: 2rem; } }
    @media (min-width: 769px) and (max-width: 992px) {
      .cru-teaser-layered .cmp-teaser__title {
        font-size: 3rem; } }
    @media (min-width: 993px) and (max-width: 1200px) {
      .cru-teaser-layered .cmp-teaser__title {
        font-size: 3rem; } }
  .cru-teaser-layered .cmp-teaser__description {
    margin-top: 16px; }
    .cru-teaser-layered .cmp-teaser__description p {
      font-size: 1rem;
      line-height: calc(1em + 8px);
      margin: 0; }
  .cru-teaser-layered .cmp-teaser__action-container {
    margin-top: 32px; }
  .cru-teaser-layered .cmp-teaser__action-link {
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    text-transform: none;
    line-height: calc(1em + 4px);
    border-radius: 4px;
    font-size: 1rem;
    padding: 9px 23px;
    border-width: 1px;
    border-style: solid;
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFCF07; }
    .cru-teaser-layered .cmp-teaser__action-link:focus {
      outline: none; }
    @media (max-width: 768px) {
      .cru-teaser-layered .cmp-teaser__action-link {
        font-size: 0.875rem;
        padding: 6px 15px; } }
    @media (min-width: 769px) and (max-width: 992px) {
      .cru-teaser-layered .cmp-teaser__action-link {
        font-size: 1rem;
        padding: 9px 23px; } }
    @media (min-width: 993px) and (max-width: 1200px) {
      .cru-teaser-layered .cmp-teaser__action-link {
        font-size: 1rem;
        padding: 9px 23px; } }
    .cru-teaser-layered .cmp-teaser__action-link:nth-child(2) {
      margin-left: 16px; }
    .cru-teaser-layered .cmp-teaser__action-link:hover {
      color: #FFFFFF;
      background-color: #FFCF07;
      border-color: #FFCF07; }

/* Text styles */
.text .cmp-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: calc(1em + 8px);
  color: #383F43;
  font-size: 1.125rem; }
  @media (max-width: 768px) {
    .text .cmp-text {
      font-size: 1rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .text .cmp-text {
      font-size: 1rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .text .cmp-text {
      font-size: 1rem; } }

.text.cru-text-sm .cmp-text {
  font-size: 0.875rem; }

/* Title styles */
.title .cmp-title__text {
  margin-top: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #383F43;
  line-height: calc(1em + 8px);
  margin-bottom: 0; }
  .title .cmp-title__text a {
    color: inherit;
    text-decoration: none; }
    .title .cmp-title__text a:hover {
      text-decoration: underline; }

.title.cru-heading-xxl .cmp-title__text {
  font-size: 6rem; }
  @media (max-width: 768px) {
    .title.cru-heading-xxl .cmp-title__text {
      font-size: 4rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-xxl .cmp-title__text {
      font-size: 4rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-xxl .cmp-title__text {
      font-size: 4rem; } }

.title.cru-heading-xl .cmp-title__text {
  font-size: 4rem; }
  @media (max-width: 768px) {
    .title.cru-heading-xl .cmp-title__text {
      font-size: 3rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-xl .cmp-title__text {
      font-size: 3rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-xl .cmp-title__text {
      font-size: 3rem; } }

.title.cru-heading-lg .cmp-title__text {
  font-size: 3rem; }
  @media (max-width: 768px) {
    .title.cru-heading-lg .cmp-title__text {
      font-size: 2rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-lg .cmp-title__text {
      font-size: 2rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-lg .cmp-title__text {
      font-size: 2rem; } }

.title.cru-heading-md .cmp-title__text {
  font-size: 2rem; }
  @media (max-width: 768px) {
    .title.cru-heading-md .cmp-title__text {
      font-size: 1.5rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-md .cmp-title__text {
      font-size: 1.5rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-md .cmp-title__text {
      font-size: 1.5rem; } }

.title.cru-heading-sm .cmp-title__text {
  line-height: 1.334;
  font-size: 1.5rem; }
  @media (max-width: 768px) {
    .title.cru-heading-sm .cmp-title__text {
      font-size: 1.125rem; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .title.cru-heading-sm .cmp-title__text {
      font-size: 1.125rem; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .title.cru-heading-sm .cmp-title__text {
      font-size: 1.125rem; } }

.title.cru-heading-xs .cmp-title__text {
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.12em; }

.title.cru-heading-xxs .cmp-title__text {
  font-size: 0.875rem;
  line-height: 1.43;
  text-transform: uppercase;
  letter-spacing: 0.12em; }

.cmp-button__icon::before {
  display: inline-block;
  vertical-align: top;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: .9375rem;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga'; }

.cmp-button__icon--email::before {
  content: "email"; }

.cmp-button__icon--cancel::before {
  content: "cancel"; }

.cmp-button__icon--arrow_forward::before {
  content: "arrow_forward"; }

.cmp-button__icon--shopping_cart::before {
  content: "shopping_cart";
  font-family: 'Material Icons Outlined'; }
