// Importing these just to set the AEM variable
@use './branding-imports' with (
  $cru-aem-media-queries: true
);

// Import external fonts
@use '../scss/imports' with (
  $cru-import-material-icons: true,
  $cru-import-material-icons-round: true,
  $cru-import-material-icons-outlined: true,
);

// Import component styles
@use 'components/components.scss';
