/* Form select options styles */
.cru-form .options + .text, .cru-form .options + .options, .cru-form .options + .button {
  margin-top: 16px;
}

.cru-form .cmp-form-options {
  margin: 0;
  padding: 0;
  border: none;
}
.cru-form .cmp-form-options__legend {
  padding: 0;
}
.cru-form .cmp-form-options .cmp-form-options__field--drop-down, .cru-form .cmp-form-options .cmp-form-options__field--multi-drop-down {
  -webkit-appearance: none;
  appearance: none;
  overflow: auto;
  margin: 0;
}

.cru-form .cmp-form-options__legend, .cru-form .cmp-form-options__label {
  display: block;
  font-size: 0.875rem;
  line-height: calc(1em + 8px);
  transition: opacity 0.15s ease-in-out;
  color: #383F43;
  margin-bottom: 8px;
}
.cru-form .cmp-form-options__help-message {
  display: block;
  font-size: 0.875rem;
  line-height: calc(1em + 8px);
  transition: opacity 0.15s ease-in-out;
  color: #383F43;
  margin-top: 8px;
  margin-bottom: 0;
}
.cru-form.cru-form--underlined .cmp-form-options__legend, .cru-form.cru-form--underlined .cmp-form-options__label {
  opacity: 0;
  margin-bottom: 0;
}
.cru-form.cru-form--underlined .cmp-form-options:focus-within label {
  opacity: 1;
}
.cru-form.cru-form--dark .cmp-form-options__legend, .cru-form.cru-form--dark .cmp-form-options__label, .cru-form.cru-form--dark .cmp-form-options__help-message {
  color: #FFFFFF;
}

.cru-form-options--disabled .cmp-form-options .cmp-form-options__legend {
  color: #EBECEC !important;
}

.cru-form-options--disabled .cmp-form-options .cmp-form-options__label {
  color: #EBECEC !important;
}

.cru-form-options--disabled .cmp-form-options .cmp-form-options__help-message {
  color: #EBECEC !important;
}

.cru-form--dark .cru-form-options--disabled .cmp-form-options .cmp-form-options__legend {
  color: #9C9FA1 !important;
}

.cru-form--dark .cru-form-options--disabled .cmp-form-options .cmp-form-options__label {
  color: #9C9FA1 !important;
}

.cru-form--dark .cru-form-options--disabled .cmp-form-options .cmp-form-options__help-message {
  color: #9C9FA1 !important;
}

.cru-form .cmp-form-options .cmp-form-options__field--drop-down, .cru-form .cmp-form-options .cmp-form-options__field--multi-drop-down {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: calc(1em + 8px);
  border-style: solid;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  padding: 11px 88px 11px 16px;
  border-width: 1px;
  border-radius: 4px;
  color: #383F43;
  border-color: #383F43;
  background-position: right 16px top 50%, right 48px top 50%;
}
.cru-form .cmp-form-options .cmp-form-options__field--drop-down::placeholder, .cru-form .cmp-form-options .cmp-form-options__field--multi-drop-down::placeholder {
  color: #383F43;
}
.cru-form .cmp-form-options .cmp-form-options__field--drop-down:focus, .cru-form .cmp-form-options .cmp-form-options__field--multi-drop-down:focus {
  outline: none;
  caret-color: #FFCF07;
  background-color: #FFFFFF;
  border-color: transparent;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
}
.cru-form .cmp-form-options .cmp-form-options__field--drop-down:focus::placeholder, .cru-form .cmp-form-options .cmp-form-options__field--multi-drop-down:focus::placeholder {
  color: transparent !important;
}
.cru-form .cmp-form-options .cmp-form-options__field--drop-down {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(56, 63, 67)'%3E%3Cpath d='M24 24H0V0h24v24z' fill='none' opacity='.87'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/%3E%3C/svg%3E");
}
.cru-form .cmp-form-options .cmp-form-options__field--multi-drop-down option {
  padding-top: 5px;
  padding-bottom: 5px;
}
.cru-form .cru-form-options--alert .cmp-form-options .cmp-form-options__field--drop-down, .cru-form .cru-form-options--alert .cmp-form-options .cmp-form-options__field--multi-drop-down {
  border-color: #ff0000 !important;
}
.cru-form .cru-form-options--alert .cmp-form-options .cmp-form-options__field--drop-down {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(255, 0, 0)'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(56, 63, 67)'%3E%3Cpath d='M24 24H0V0h24v24z' fill='none' opacity='.87'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/%3E%3C/svg%3E");
}
.cru-form .cru-form-options--alert .cmp-form-options .cmp-form-options__field--multi-drop-down {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(255, 0, 0)'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z'/%3E%3C/svg%3E");
  background-position: right 33px top 50% !important;
}
.cru-form.cru-form--underlined .cmp-form-options .cmp-form-options__field--drop-down, .cru-form.cru-form--underlined .cmp-form-options .cmp-form-options__field--multi-drop-down {
  padding: 6px 72px 6px 0;
  border-width: 0 0 1px;
  border-radius: 0;
  background-position: right 0 top 50%, right 32px top 50%;
}
.cru-form.cru-form--underlined .cmp-form-options .cmp-form-options__field--drop-down:focus, .cru-form.cru-form--underlined .cmp-form-options .cmp-form-options__field--multi-drop-down:focus {
  background-color: transparent;
  border-color: #FFCF07;
  box-shadow: none;
}
.cru-form.cru-form--dark .cmp-form-options .cmp-form-options__field--drop-down, .cru-form.cru-form--dark .cmp-form-options .cmp-form-options__field--multi-drop-down {
  border-color: #FFFFFF;
}
.cru-form.cru-form--dark .cmp-form-options .cmp-form-options__field--drop-down::placeholder, .cru-form.cru-form--dark .cmp-form-options .cmp-form-options__field--multi-drop-down::placeholder {
  color: #FFFFFF;
}
.cru-form.cru-form--dark .cmp-form-options .cmp-form-options__field--drop-down:not(:focus), .cru-form.cru-form--dark .cmp-form-options .cmp-form-options__field--multi-drop-down:not(:focus) {
  color: #FFFFFF;
}
.cru-form.cru-form--dark .cmp-form-options .cmp-form-options__field--drop-down {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(255, 255, 255)'%3E%3Cpath d='M24 24H0V0h24v24z' fill='none' opacity='.87'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/%3E%3C/svg%3E");
}
.cru-form.cru-form--dark .cru-form-options--alert .cmp-form-options .cmp-form-options__field--drop-down {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(255, 0, 0)'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(255, 255, 255)'%3E%3Cpath d='M24 24H0V0h24v24z' fill='none' opacity='.87'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/%3E%3C/svg%3E");
}
.cru-form.cru-form--underlined.cru-form--dark .cmp-form-options .cmp-form-options__field--drop-down, .cru-form.cru-form--underlined.cru-form--dark .cmp-form-options .cmp-form-options__field--multi-drop-down {
  color: #FFFFFF;
}
.cru-form.cru-form--underlined.cru-form--dark .cmp-form-options .cmp-form-options__field--drop-down:not(:focus), .cru-form.cru-form--underlined.cru-form--dark .cmp-form-options .cmp-form-options__field--multi-drop-down:not(:focus) {
  border-color: #9C9FA1;
}

.cru-form-options--disabled .cmp-form-options .cmp-form-options__field--drop-down,
.cmp-form-options .cmp-form-options__field--drop-down[disabled] {
  cursor: not-allowed;
  background-color: transparent !important;
  box-shadow: none !important;
  color: #EBECEC !important;
  border-color: #EBECEC !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(235, 236, 236)'%3E%3Cpath d='M24 24H0V0h24v24z' fill='none' opacity='.87'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/%3E%3C/svg%3E");
}
.cru-form-options--disabled .cmp-form-options .cmp-form-options__field--drop-down::placeholder,
.cmp-form-options .cmp-form-options__field--drop-down[disabled]::placeholder {
  color: #EBECEC !important;
}

.cru-form-options--disabled .cmp-form-options .cmp-form-options__field--multi-drop-down,
.cmp-form-options .cmp-form-options__field--multi-drop-down[disabled] {
  cursor: not-allowed;
  background-color: transparent !important;
  box-shadow: none !important;
  color: #EBECEC !important;
  border-color: #EBECEC !important;
}
.cru-form-options--disabled .cmp-form-options .cmp-form-options__field--multi-drop-down::placeholder,
.cmp-form-options .cmp-form-options__field--multi-drop-down[disabled]::placeholder {
  color: #EBECEC !important;
}

.cru-form--dark .cru-form-options--disabled .cmp-form-options .cmp-form-options__field--drop-down,
.cru-form--dark .cmp-form-options .cmp-form-options__field--drop-down[disabled] {
  color: #9C9FA1 !important;
  border-color: #9C9FA1 !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(156, 159, 161)'%3E%3Cpath d='M24 24H0V0h24v24z' fill='none' opacity='.87'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/%3E%3C/svg%3E");
}
.cru-form--dark .cru-form-options--disabled .cmp-form-options .cmp-form-options__field--drop-down::placeholder,
.cru-form--dark .cmp-form-options .cmp-form-options__field--drop-down[disabled]::placeholder {
  color: #9C9FA1 !important;
}

.cru-form--dark .cru-form-options--disabled .cmp-form-options .cmp-form-options__field--multi-drop-down,
.cru-form--dark .cmp-form-options .cmp-form-options__field--multi-drop-down[disabled] {
  color: #9C9FA1 !important;
  border-color: #9C9FA1 !important;
}
.cru-form--dark .cru-form-options--disabled .cmp-form-options .cmp-form-options__field--multi-drop-down::placeholder,
.cru-form--dark .cmp-form-options .cmp-form-options__field--multi-drop-down[disabled]::placeholder {
  color: #9C9FA1 !important;
}

.cru-form .cmp-form-options__field-label {
  display: block;
}
.cru-form .cmp-form-options__field-label + label {
  margin-top: 12px;
}
.cru-form .cmp-form-options__field--checkbox, .cru-form .cmp-form-options__field--radio {
  display: none;
}
.cru-form .cmp-form-options__field--checkbox:checked + span::before, .cru-form .cmp-form-options__field--radio:checked + span::before {
  background-repeat: no-repeat;
  background-position: center;
  border-color: #FFCF07;
}
.cru-form .cmp-form-options__field--checkbox + span::before {
  border-radius: 2px;
}
.cru-form .cmp-form-options__field--checkbox:checked + span::before {
  background-color: #FFCF07;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(255, 255, 255)'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/%3E%3C/svg%3E");
  background-size: cover;
}
.cru-form .cmp-form-options__field--radio + span::before {
  border-radius: 50%;
}
.cru-form .cmp-form-options__field--radio:checked + span::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(255, 207, 7)'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z'/%3E%3C/svg%3E");
  background-size: 0.7499625rem;
}
.cru-form .cmp-form-options__field-description {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.2499375rem;
  color: #383F43;
}
.cru-form .cmp-form-options__field-description::before {
  content: "";
  vertical-align: bottom;
  display: inline-block;
  width: 1.2499375rem;
  height: 1.2499375rem;
  background-color: transparent;
  border: #383F43 1px solid;
  box-sizing: border-box;
  margin-right: 12px;
}
.cru-form .cru-form-options--alert .cmp-form-options--checkbox, .cru-form .cru-form-options--alert .cmp-form-options--radio {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='rgb(255, 0, 0)'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px top 50%;
  padding-right: 56px;
}
.cru-form.cru-form--dark .cmp-form-options__field--radio:checked + span::before {
  border-color: #FFFFFF;
}
.cru-form.cru-form--dark .cmp-form-options__field-description {
  color: #FFFFFF;
}
.cru-form.cru-form--dark .cmp-form-options__field-description::before {
  border-color: #FFFFFF;
}
.cru-form .cru-form-options--inline .cmp-form-options__field-label {
  display: inline-block;
}
.cru-form .cru-form-options--inline .cmp-form-options__field-label + label {
  margin-left: 16px;
}

.cru-form-options--disabled .cmp-form-options .cmp-form-options__field--checkbox + span,
.cmp-form-options .cmp-form-options__field--checkbox[disabled] + span {
  color: #EBECEC;
}
.cru-form-options--disabled .cmp-form-options .cmp-form-options__field--checkbox + span::before,
.cmp-form-options .cmp-form-options__field--checkbox[disabled] + span::before {
  background-image: none;
  background-color: #EBECEC;
  border-color: #EBECEC;
}

.cru-form-options--disabled .cmp-form-options .cmp-form-options__field--radio + span,
.cmp-form-options .cmp-form-options__field--radio[disabled] + span {
  color: #EBECEC;
}
.cru-form-options--disabled .cmp-form-options .cmp-form-options__field--radio + span::before,
.cmp-form-options .cmp-form-options__field--radio[disabled] + span::before {
  background-image: none;
  background-color: #EBECEC;
  border-color: #EBECEC;
}

.cru-form--dark .cru-form-options--disabled .cmp-form-options .cmp-form-options__field--checkbox + span,
.cru-form--dark .cmp-form-options .cmp-form-options__field--checkbox[disabled] + span {
  color: #9C9FA1;
}
.cru-form--dark .cru-form-options--disabled .cmp-form-options .cmp-form-options__field--checkbox + span::before,
.cru-form--dark .cmp-form-options .cmp-form-options__field--checkbox[disabled] + span::before {
  background-color: #9C9FA1;
  border-color: #9C9FA1;
}

.cru-form--dark .cru-form-options--disabled .cmp-form-options .cmp-form-options__field--radio + span,
.cru-form--dark .cmp-form-options .cmp-form-options__field--radio[disabled] + span {
  color: #9C9FA1;
}
.cru-form--dark .cru-form-options--disabled .cmp-form-options .cmp-form-options__field--radio + span::before,
.cru-form--dark .cmp-form-options .cmp-form-options__field--radio[disabled] + span::before {
  background-color: #9C9FA1;
  border-color: #9C9FA1;
}