// Branding imports
@use '../../branding-imports' as *;

/* Carousel styles */

.cru-carousel .cmp-carousel {
  &__content {
    position: relative;
    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }
  &__actions, &__indicators {
    margin-top: $cru-spacer;
  }
  &__actions {
    float: left;
  }
  &__action {
    @include cru-button2;
    @include cru-button2-dot-combo-defaults;
    font-size: $cru-font-size-base;
    &-text {
      display: none;
    }
    &-icon {
      @include cru-button2-dot-combo-icon;
      @include cru-button2-dot-combo-icon-shadow;
      @include cru-button2-white-gray-solid;
      &::before {
        @include cru-material-icon;
        @include cru-button2-dot-combo-icon-line-height;
      }
      &:hover {
        @include cru-button2-yellow-white-solid;
      }
    }
    &--previous .cmp-carousel__action-icon::before {
      content: "arrow_back";
    }
    &--next {
      position: absolute;
      right: 0;
      .cmp-carousel__action-icon::before {
        content: "arrow_forward";
      }
    }
    &--pause, &--play {
      display: none;
    }
  }
  &__indicators {
    display: block;
    flex-wrap: unset;
    justify-content: unset;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    font-size: 0;
  }
  &__indicator {
    margin: 14px 4px;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: $cru-color-gray-light;
    text-indent: -5000px;
    position: unset;
    flex: unset;
    &--active, &:hover {
      background-color: $cru-color-gray-dark;
    }
  }
}
