// All button mixins required for Cru branding
// v0.3

@mixin yellow-yellow-outline() {
  color: $cru-color-yellow;
  background-color: transparent;
  border-color: $cru-color-yellow;
}

@mixin yellow-gray-solid() {
  color: $cru-color-gray-dark;
  background-color: $cru-color-yellow;
  border-color: $cru-color-yellow;
}

@mixin yellow-gray-outline() {
  color: $cru-color-gray-dark;
  background-color: transparent;
  border-color: $cru-color-yellow;
}

@mixin yellow-white-solid() {
  color: $cru-color-white;
  background-color: $cru-color-yellow;
  border-color: $cru-color-yellow;
}

@mixin yellow-white-outline() {
  color: $cru-color-white;
  background-color: transparent;
  border-color: $cru-color-yellow;
}

@mixin gray-white-solid() {
  color: $cru-color-white;
  background-color: $cru-color-gray-dark;
  border-color: $cru-color-gray-dark;
}

@mixin gray-white-outline() {
  color: $cru-color-white;
  background-color: transparent;
  border-color: $cru-color-gray-dark;
}

@mixin gray-gray-outline() {
  color: $cru-color-gray-dark;
  background-color: transparent;
  border-color: $cru-color-gray-dark;
}

@mixin white-gray-solid() {
  color: $cru-color-gray-dark;
  background-color: $cru-color-white;
  border-color: $cru-color-white;
}

@mixin white-gray-outline() {
  color: $cru-color-gray-dark;
  background-color: transparent;
  border-color: $cru-color-white;
}

@mixin white-white-outline() {
  color: $cru-color-white;
  background-color: transparent;
  border-color: $cru-color-white;
}

@mixin disabled-solid() {
  color: $cru-color-gray-medium !important;
  background-color: $cru-color-gray-light !important;
  border-color: $cru-color-gray-light !important;
}

@mixin disabled-outline() {
  color: $cru-color-gray-medium !important;
  background-color: transparent !important;
  border-color: $cru-color-gray-medium !important;
}
